.dot_opt {
  color: #212121;
  font-size: 22px;
  vertical-align: middle;
  margin-left: 10rem;
}

.event-detail-area .dot_opt a:nth-child(2) img {
  width: 32px;
  margin-right: 12px;
}

.poin_ment div i {
  display: inline-block; // Change the display property to inline-block
  font-size: 60px;
  width: 60px;
  height: 60px;
  vertical-align: middle; // To keep it aligned with adjacent text or elements
}

.fix .dot_opt {
  position: absolute;
  top: 42px;
  right: 20px;
}

.poin_ment {
  display: flex;
  gap: 15px;
  position: relative;
  align-items: center;
}

.poin_ment div img {
  width: 60px;
  height: 60px;
}

.ment_text h2 {
  font-size: 17px;
  font-weight: 700;
}

.ment_text p {
  font-size: 13px;
  margin: 3px 0 0;
}

.ment_text p span {
  margin: 0 5px;
}

.poin_ment button {
  font-size: 11px;
  background: #256cfe;
  padding: 6px 12px;
  border-radius: 10px;
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sample_text p {
  font-size: 13px;
  margin: 0.8rem 0 0;
}

.image_content2 {
  padding: 0 0 30px;
}

.image_content {
  border-bottom: 1px solid #000000;
  padding-bottom: 1rem;
}

.notification-area {
  .image_content {
    // Add a subtle shadow to give the "card" some depth.
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    // Add some margin between each card for separation.
    margin-bottom: 1.5rem;

    // Use padding to create some space inside the card.
    padding: 1rem;

    // Use a light background color for the card.
    background-color: #fff;

    // Optional: Slightly rounded corners for aesthetics.
    border-radius: 8px;

    // Moving the border-bottom style here to give the card some distinction.
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  // To ensure that the last card doesn't have extra margin at the bottom.
  .image_content:last-child {
    margin-bottom: 0;
  }

  .container {
    // Add padding to the container to ensure cards aren't stuck to the edges.
    padding: 1rem;
  }
}

::ng-deep body.dark {
  .notifications-content {
    .notification-area {
      .image_content {
        background-color: #1f1f1f;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        box-shadow: 0 2px 8px rgb(77 166 249 / 30%);
      }
    }
  }
}
