<ion-header class="ion-no-border">
  <ion-toolbar class="head_arw">
    <ion-buttons slot="start" class="arw_left">
      <ion-back-button
        [icon]="'arrow-back'"
        [text]="''"
        defaultHref="app/categories/travel"
      >
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      <h3 class="dark">Notifications</h3>
    </ion-title>
    <ion-buttons slot="end" class="arw_left" (click)="openMenu()">
      <fa-icon [icon]="['fas', 'ellipsis']"></fa-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
