<ion-header class="ion-no-border">
  <ion-toolbar class="head_arw">
    <img
      *ngIf="tabPageUrls.includes(currentUrl); else backbutton"
      src="../../assets/logo_horizontal.svg"
    />
    <ng-template #backbutton>
      <ion-buttons slot="start" class="arw_left">
        <ion-back-button
          *ngIf="!disableBackButton"
          [icon]="'arrow-back'"
          [text]="''"
          defaultHref="app/event/list"
        >
        </ion-back-button>
      </ion-buttons>
    </ng-template>

    <ion-buttons slot="end" class="arw_left" [routerLink]="['/app/purchase']">
      <fa-icon [icon]="['fas', 'credit-card']"></fa-icon>
    </ion-buttons>
  </ion-toolbar>

  <!-- Event-list only -->
  <div *ngIf="currentUrl === '/app/event/list'" class="filter_section">
    <ion-searchbar></ion-searchbar>
    <ion-buttons (click)="openFilter()">
      <img src="../../assets/filter.svg" />
    </ion-buttons>
  </div>
  <!-- Event-list only -->
</ion-header>
