ion-toolbar {
  --background: #fff;
  // --border: none;
  // height: 5rem;
  img {
    margin-left: 1rem;
    width: 12rem;
  }
}

ion-toolbar:last-of-type {
  // --border-width: 0;
}

.head_arw h3 {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 0 12px;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
}

.arw_left {
  color: #212121;
  font-size: 22px;
  vertical-align: middle;
  padding: 0 1rem;
}

