ion-toolbar {
  --background: var(--ion-background-color);
  // --border: none;
  // height: 5rem;
  img {
    margin-left: 1rem;
    width: 12rem;
  }

  ion-buttons {
    color: #0c8cf0;
  }
}

.head_arw h3 {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 0 12px;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
}

.arw_left {
  color: #212121;
  font-size: 22px;
  vertical-align: middle;
  padding: 0 1rem;
}

.filter_section {
  display: grid;
  grid-template-columns: 1fr 0.1fr;

  ion-buttons {
    --background: transparent;
    color: #000000;
    padding: 0.5rem 1rem 0.5rem 0;
    font-size: 20px;
  }
}
