<ion-header class="ion-no-border">
  <ion-toolbar class="head_arw">
    <ion-buttons slot="start" class="arw_left">
      <!-- <ion-back-button
        *ngIf="!disableBackButton"
        [icon]="'arrow-back'"
        [text]="''"
        defaultHref="app/event/list"
      >
      </ion-back-button> -->
      <!-- <fa-icon [icon]="['fas', 'circle-exclamation']"></fa-icon> -->
    </ion-buttons>

    <ion-buttons
      slot="end"
      class="arw_left"
      [routerLink]="['/app/notifications']"
    >
      <!-- <fa-icon [icon]="['fas', 'ellipsis']"></fa-icon> -->
      <fa-icon [icon]="['fas', 'bell']"></fa-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
