<app-header [defaultHref]="'app/history'"></app-header>

<ng-container *ngIf="eventDetail$ | async as eventDetail">
  <ng-container *ngIf="participants$ | async as participants">
    <ng-container *ngIf="user$ | async as user">
      <ion-content *ngIf="!isLoading" class="event-detail-content">
        <main class="event-detail-area main-area">
          <div class="cover_photo">
            <img
              [src]="
                eventDetail.imageUrl ||
                '../../../../assets/images/background.png'
              "
            />
          </div>
          <div class="content_area">
            <div class="container">
              <div class="event_content">
                <div class="title-row">
                  <h3 class="dark">{{ eventDetail.title }}</h3>
                  <small>Estimate: {{ eventDetail.maxParticipants }}</small>
                </div>
                <div class="main_content">
                  <div
                    class="calendar_link"
                    (click)="addToCalendar(eventDetail)"
                  >
                    <div class="calendar-icon">
                      <fa-icon [icon]="['far', 'calendar']"></fa-icon>
                    </div>
                    <div class="time">
                      <small class="title">
                        {{
                          eventDetail.startTime | date : 'EEEE, MMMM dd, yyyy'
                        }}
                      </small>
                      <br />
                      <small class="dark_d">
                        {{ eventDetail.startTime | date : 'h:mm a z' }}
                      </small>
                    </div>
                    <div class="chevron-right">
                      <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
                    </div>
                  </div>
                  <hr />
                  <div class="location_link" (click)="openMap(eventDetail)">
                    <div class="location-icon">
                      <fa-icon [icon]="['fas', 'location-dot']"></fa-icon>
                    </div>
                    <div class="place">
                      <small class="title"
                        >{{ eventDetail.formattedAddress || 'Online event' }}
                      </small>
                    </div>
                    <fa-icon
                      class="chevron-right"
                      [icon]="['fas', 'chevron-right']"
                    ></fa-icon>
                  </div>
                  <hr />
                  <div class="description">
                    <h3>Description</h3>

                    <p class="dark_d">
                      {{ eventDetail.description }}
                    </p>
                  </div>
                  <hr />
                  <div class="host_joiner_info">
                    <div class="creator">
                      <h3>Host</h3>
                      <div
                        class="host_info"
                        [routerLink]="[
                          '/app/event/profile',
                          eventDetail.creator.userId
                        ]"
                      >
                        <div class="profile_img">
                          <img
                            [src]="eventDetail.creator.profilePictureUrl || 'assets/images/profile1.jpg'"
                            alt="image"
                          />
                        </div>
                        <div class="name_content">
                          <h3>{{ eventDetail.creator.name }}</h3>
                        </div>
                      </div>
                    </div>
                    <div class="participants">
                      <h3>Participants</h3>
                      <div
                        class="joiner_list"
                        (click)="
                          checkParticipants(
                            user.userId === eventDetail.creator.userId,
                            eventDetail.eventId
                          )
                        "
                      >
                        <div class="joiner">
                          <img
                            [src]="eventDetail.creator.profilePictureUrl || 'assets/images/profile1.jpg'"
                            alt="image"
                          />
                        </div>
                        <ng-container
                          *ngFor="
                            let participant of participants;
                            let i = index
                          "
                        >
                          <div *ngIf="i < 3" class="joiner">
                            <img [src]="participant.profilePictureUrl || 'assets/images/profile1.jpg'" />
                          </div>
                          <div *ngIf="i === 3" class="joiner">
                            <div class="more">
                              {{ '+' + (participants.length - 3) }}
                            </div>
                          </div>
                        </ng-container>
                        <ng-container
                          *ngIf="participants.length === 0 && !canView"
                        >
                          <div class="joiner">
                            <fa-icon [icon]="['fas', 'lock']"></fa-icon>
                          </div>
                          <div class="joiner">
                            <fa-icon [icon]="['fas', 'lock']"></fa-icon>
                          </div>
                          <div class="joiner">
                            <fa-icon [icon]="['fas', 'lock']"></fa-icon>
                          </div>
                          <div class="joiner">
                            <div class="more">
                              {{ '+?' }}
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="comments" *ngIf="comments$ | async as comments">
                  <h2 class="dark">
                    {{ 'Comments (' + comments.length + ')' }}
                  </h2>
                  <div class="comment_list">
                    <div class="comment" *ngFor="let comment of comments">
                      <div class="user">
                        <div class="user_img">
                          <img
                            [src]="
                              comment.user.profilePictureUrl ||
                              'assets/images/profile1.jpg'
                            "
                          />
                        </div>
                        <div class="user_name">
                          <h4 class="dark">{{ comment.user.name }}</h4>
                        </div>
                      </div>

                      <p class="dark_d">
                        {{ comment.content }}
                      </p>
                      <small class="dark_d">{{
                        comment.createdAt | date : 'MMM d. y | HH:mm a'
                      }}</small>
                    </div>
                  </div>
                  <div class="input_comment" *ngIf="user$ | async as user">
                    <div class="mini_profile">
                      <img
                        [src]="
                          user.profilePictureUrl || 'assets/images/profile1.jpg'
                        "
                      />
                    </div>
                    <div class="comment_input">
                      <input
                        class="dark_dd"
                        type="text"
                        [(ngModel)]="comment"
                        [disabled]="notAllowComment(eventDetail.endTime)"
                        placeholder="Add a comment"
                      />
                      <ion-button
                        (click)="leaveComment(eventDetail.eventId)"
                        [disabled]="!comment"
                      >
                        <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon>
                      </ion-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </ion-content>

      <ion-footer *ngIf="!isLoading">
        <ion-toolbar>
          <h3>
            {{
              eventDetail.price === 0 ? 'free' : (eventDetail.price | currency)
            }}
          </h3>
          <ion-button
            *ngIf="user.userId === eventDetail.creator.userId; else normalUser"
            slot="end"
            [disabled]="isEventStarted(eventDetail.startTime)"
            (click)="editEvent(eventDetail)"
          >
            Edit
          </ion-button>
          <ng-template #normalUser>
            <ion-button
              #joinBtn
              slot="end"
              (click)="joinEvent(eventDetail.eventId)"
              [disabled]="
                !isAllowJoin(
                  participants,
                  eventDetail.maxParticipants,
                  user.userId
                )
              "
            >
              Join
            </ion-button>
          </ng-template>
        </ion-toolbar>
      </ion-footer>
    </ng-container>
  </ng-container>
</ng-container>

<ng-container *ngIf="isLoading">
  <ion-content class="event-detail-content">
    <main class="event-detail-area main-area">
      <div class="cover_photo">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </div>
      <div class="content_area">
        <div class="container">
          <div class="event_content">
            <h3>
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </h3>
            <div class="main_content">
              <div class="calendar_link">
                <div class="calendar-icon">
                  <fa-icon [icon]="['far', 'calendar']"></fa-icon>
                </div>
                <div class="time">
                  <small class="title">
                    <ion-skeleton-text
                      [animated]="true"
                      style="width: 60%"
                    ></ion-skeleton-text>
                  </small>
                  <br />
                  <small class="dark_d">
                    <ion-skeleton-text
                      [animated]="true"
                      style="width: 40%"
                    ></ion-skeleton-text>
                  </small>
                </div>
                <div class="chevron-right">
                  <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
                </div>
              </div>
              <hr />
              <div class="location_link">
                <div class="location-icon">
                  <fa-icon [icon]="['fas', 'location-dot']"></fa-icon>
                </div>
                <div class="place">
                  <small class="title">
                    <ion-skeleton-text
                      [animated]="true"
                      style="width: 80%"
                    ></ion-skeleton-text>
                  </small>
                </div>
                <fa-icon
                  class="chevron-right"
                  [icon]="['fas', 'chevron-right']"
                ></fa-icon>
              </div>
              <hr />
              <div class="description">
                <h3>Description</h3>
                <p>
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 80%"
                  ></ion-skeleton-text>
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 50%"
                  ></ion-skeleton-text>
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 40%"
                  ></ion-skeleton-text>
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 60%"
                  ></ion-skeleton-text>
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 70%"
                  ></ion-skeleton-text>
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 90%"
                  ></ion-skeleton-text>
                </p>
              </div>
              <hr />
              <div class="host_joiner_info">
                <div class="creator">
                  <h3>Host</h3>
                  <div class="host_info">
                    <div class="profile_img">
                      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </div>
                    <div class="name_content">
                      <h3>
                        <ion-skeleton-text
                          [animated]="true"
                          style="width: 5rem"
                        ></ion-skeleton-text>
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="participants">
                  <h3>Participants</h3>
                  <ng-container>
                    <div class="joiner_list">
                      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </main>
  </ion-content>

  <ng-container *ngIf="user$ | async as user">
    <ion-footer>
      <ion-toolbar>
        <h3>free</h3>
        <ion-button slot="end" disabled> Edit </ion-button>
        <ng-template #normalUser>
          <ion-button slot="end"> Join </ion-button>
        </ng-template>
      </ion-toolbar>
    </ion-footer>
  </ng-container>
</ng-container>
