<app-header></app-header>

<ion-content class="event-detail-content">
  <main class="event-detail-area main-area">
    <div class="bg-detail bg_head">

    </div>
    <div class="travel_area">
        <div class="container">
            <div class="travel_content">
                <h2 class="dark">The Top 5 Travel Destinations for 2024!</h2>
                <hr>
                <div class="natasha_blog">
                    <div class="row">
                        <div>
                            <img src="assets/images/natahsa_sm_im.png" alt="image">
                        </div>
                        <div class="name_content">
                            <h3 class="dark">Natasha Winkles</h3>
                            <a class="dark_d name_a">@natasha_winkles</a>
                        </div>
                    </div>
                    <a class="white follow_a">Follow</a>
                </div>
                <hr>
                <div class="country_content">
                    <div class="country_link">
                        <a class="gray">Travel</a>
                        <small class="dark_d">3 days ago</small>
                    </div>
                    <p class="dark_d">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="greese_text">
                        <h3 class="dark1">1. Greese</h3>
                        <p class="dark_d">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="greese_text">
                        <h3 class="dark1">2. Japan</h3>
                        <p class="dark_d">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="greese_text">
                        <h3 class="dark1">3. Costa Rica</h3>
                        <p class="dark_d">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="greese_text">
                        <h3 class="dark1">4. Italy</h3>
                        <p class="dark_d">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="greese_text">
                        <h3 class="dark1">5. New Zealand</h3>
                        <p class="dark_d">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p class="greese_p dark_d">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <hr>
                </div>
                <div class="comments_div">
                    <h2 class="dark">Comments (120) <a><fa-icon [icon]="['fas', 'arrow-right']" class="gray"></fa-icon></a></h2>
                </div>
                <div class="div_bella">
                    <a class="vertical_dot"><i class="dark fa-regular fa-ellipsis-vertical"></i></a>
                    <div class="inr_bella">
                        <img src="assets/images/min_profile.png" alt="image">
                        <h4 class="dark">Bella Wigington</h4>
                    </div>
                    <p class="dark_d">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et.</p>
                    <button>
                        <fa-icon [icon]="['fas', 'heart']" class="danger"></fa-icon>
                        <span class="dark_d">356</span>
                    </button>
                    <small class="dark_d">1 month ago</small>
                </div>
                <div class="div_bella">
                    <a class="vertical_dot"><i class="dark fa-regular fa-ellipsis-vertical"></i></a>
                    <div class="inr_bella">
                        <img src="assets/images/min_profile.png" alt="image">
                        <h4 class="dark">Bella Wigington</h4>
                    </div>
                    <p class="dark_d">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et.</p>
                    <button>
                        <fa-icon [icon]="['fas', 'heart']" class="danger"></fa-icon>
                        <span class="dark_d">356</span>
                    </button>
                    <small class="dark_d">1 month ago</small>
                </div>
                <div class="div_bella">
                    <a class="vertical_dot"><i class="dark fa-regular fa-ellipsis-vertical"></i></a>
                    <div class="inr_bella">
                        <img src="assets/images/min_profile.png" alt="image">
                        <h4 class="dark">Bella Wigington</h4>
                    </div>
                    <p class="dark_d">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et.</p>
                    <button>
                        <fa-icon [icon]="['fas', 'heart']" class="danger"></fa-icon>
                        <span class="dark_d">356</span>
                    </button>
                    <small class="dark_d">1 month ago</small>
                </div>
                <div class="input_comment">
                    <div class="row">
                        <div class="mini__profile">
                            <img src="assets/images/min_profile.png">
                        </div>
                        <div class="text__input">
                            <form>
                                <input class="dark_dd" type="text" name="#" placeholder="Add a comment" />
                                <button type="submit">
                                    <fa-icon [icon]="['fas', 'paper-plane']" class="gray"></fa-icon>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</ion-content>
