.tabcontent {
  display: block;
}

.wdt__1 {
  width: 75%;
}

.wdt__2 {
  width: 25%;
}

.min_img {
  width: 20%;
}

.text_div,
.P-text {
  width: 80%;
  padding: 0 0 0 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text_div h3 {
  font-size: 17px;
  font-weight: 700;
}

.P-text p {
  font-size: 14px;
  margin: 2px 0 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.msg_link {
  margin: 0 0 25px;
}

mat-tab-group {
  --mat-tab-header-active-ripple-color: none;
  --mdc-tab-indicator-active-indicator-color: var(--ion-color-primary);
  --mat-tab-header-active-label-text-color: var(--ion-color-primary);
  --mat-tab-header-inactive-label-text-color: var(--ion-inactive-text-color);
  --mat-tab-header-inactive-ripple-color: var(--ion-color-primary);
  --mat-tab-header-active-focus-label-text-color: var(--ion-color-primary);
  --mat-tab-header-active-hover-label-text-color: var(--ion-color-primary);
  --mat-tab-header-active-focus-indicator-color: var(--ion-color-primary);
  --mat-tab-header-active-hover-indicator-color: var(--ion-color-primary);
}

::ng-deep .mat-mdc-tab-header {
  --mat-tab-header-label-text-weight: 600;
}
