<app-header></app-header>
<ion-content>
  <main class="message-area main-area">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          {{ 'CHAT_LIST.DIRECT' | translate }}
        </ng-template>
        <br />
        <div *ngIf="eventChats$ | async as chats" class="container">
          <ng-container *ngFor="let chat of chats">
            <app-chat-card
              *ngIf="user"
              [chat]="chat"
              [user]="user"
              [memberPictureUrls$]="memberPictureUrls$"
              [eventImageUrls$]="eventImageUrls$"
            ></app-chat-card>
          </ng-container>

          <div *ngIf="chats.length === 0" class="no-more-content">
            {{ 'CHAT_LIST.NO_MORE_CONTENT' | translate }}
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          {{ 'CHAT_LIST.GROUP' | translate }}
        </ng-template>
        <br />
        <div *ngIf="privateChats$ | async as chats" class="container">
          <ng-container *ngFor="let chat of chats">
            <app-chat-card
              *ngIf="user"
              [chat]="chat"
              [user]="user"
              [memberPictureUrls$]="memberPictureUrls$"
              [eventImageUrls$]="eventImageUrls$"
            ></app-chat-card>
          </ng-container>

          <div *ngIf="chats.length === 0" class="no-more-content">
            {{ 'CHAT_LIST.NO_MORE_CONTENT' | translate }}
          </div>
        </div>
        <ng-template #noContent>
          <div class="no-more-content">
            {{ 'CHAT_LIST.NO_MORE_CONTENT' | translate }}
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </main>
</ion-content>
