<app-header></app-header>
<ion-content>
  <main class="message-area main-area">
    <div class="container">
      <div class="tabcontent" style="display: block">
        <ng-container *ngFor="let chat of chats$ | async">
          <app-chat-card
            *ngIf="user"
            [chat]="chat"
            [user]="user"
            [memberPictureUrls]="memberPictureUrls"
            [eventImages]="eventImages"
          ></app-chat-card>
        </ng-container>
      </div>
    </div>
  </main>
</ion-content>
