.chat_content {
  width: 80%;
  background: var(--ion-color-primary);
  margin-left: auto;
  padding: 15px 20px;
  border-radius: 20px 20px 7px 20px;
  position: relative;
  margin-bottom: 20px;
}

.chat_content2 {
  width: 80%;
  background: #f5f5f5;
  margin-right: auto;
  padding: 15px 20px;
  border-radius: 20px 20px 20px 7px;
  position: relative;
  margin-bottom: 20px;
  margin-left: 0;
}

.chat_content p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
}

.chat_content small {
  font-size: 12px;
  position: absolute;
  right: 16px;
  bottom: 8px;
  font-weight: 300;
}

.chat_content small i {
  font-weight: 700;
  margin-left: 5px;
}

.spn_s {
  font-size: 11px;
  padding: 8px 10px;
  background: #eeeeee;
  font-weight: 700;
  border-radius: 10px;
  margin: 30px 0 20px;
}

ion-footer {
  padding: 1rem;
}

.btm-chat {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-column-gap: 0.2rem;
}

.btm-chat input {
  font-size: 15px;
  border-radius: 12px;
  border: none;
  padding: 15px 20px 15px 48px;
  width: 100%;
  background: var(--ion-input-background-color);
  position: relative;
}

.btm-chat ion-button {
  --background: transparent;
  --color: black;
  width: fit-content;

  fa-icon {
    font-size: 18px;
  }
}
