<app-header></app-header>
<ion-content>
  <main class="chat-room-area main-area">
    <div class="container">
      <div class="chat-body">
        <div class="text-center">
          <span class="dark_dd spn_s">Session start</span>
        </div>
        <ng-container *ngFor="let message of messages$ | async">
          <ng-container *ngIf="user$ | async as user">
            <ng-container *ngIf="message.senderId === user.uid">
              <div class="my-chat">
                <div class="chat_content">
                  <p class="white">{{ message.content }}</p>
                  <small class="white"
                    >{{ message.timestamp | date : 'hh:mm' }}
                    <i class="fa-light fa-check-double"></i
                  ></small>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="message.senderId !== user.uid">
              <div class="opt-chat">
                <div class="min_img">
                  <img
                    [src]="memberPictureUrls?.[message.senderId]?.profilePicture ?? 'assets/images/min_profile.png'"
                    alt="image"
                    referrerpolicy="no-referrer"
                  />
                </div>
                <div class="chat_content chat_content2">
                  <p style="font-weight: lighter">
                    {{ memberInfos[message.senderId].name }}
                  </p>
                  <p class="dark">{{ message.content }}</p>
                  <small class="dark">{{
                    message.timestamp | date : 'hh:mm'
                  }}</small>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>

        <!-- <div class="my-chat">
          <div class="chat_content">
            <p class="white">Hi, good afternoon Dr.<br />Drake...</p>
            <small class="white"
              >16:00 <i class="fa-light fa-check-double"></i
            ></small>
          </div>
          <div class="chat_content">
            <p class="white">
              I'm Andrew, I have<br />
              a problem with my<br />
              immune system
            </p>
            <small class="white"
              >16:00 <i class="fa-light fa-check-double"></i
            ></small>
          </div>
        </div>
        <div class="opt-chat">
          <div class="chat_content chat_content2">
            <p class="dark">
              Hello, good afternoon too<br />
              Andrew
            </p>
            <small class="dark">16:01</small>
          </div>
          <div class="chat_content chat_content2">
            <p class="dark">
              Can you tell me the<br />
              problem you are having?<br />
              So that I can indenify it.
            </p>
            <small class="dark">16:01</small>
          </div>

          <div class="chat_content chat_content2">
            <p class="dark">
              Can you tell me the<br />
              problem you are having?<br />
              So that I can indenify it.
            </p>
            <small class="dark">16:01</small>
          </div>

          <div class="chat_content chat_content2">
            <p class="dark">
              Can you tell me the<br />
              problem you are having?<br />
              So that I can indenify it.
            </p>
            <small class="dark">16:01</small>
          </div>

          <div class="chat_content chat_content2">
            <p class="dark">
              Can you tell me the<br />
              problem you are having?<br />
              So that I can indenify it.
            </p>
            <small class="dark">16:01</small>
          </div>

          <div class="chat_content chat_content2">
            <p class="dark">
              Can you tell me the<br />
              problem you are having?<br />
              So that I can indenify it.
            </p>
            <small class="dark">16:01</small>
          </div>
        </div> -->
      </div>
      <div class="btn-full">
        <div class="btm-chat">
          <div class="chat-bottom">
            <div class="wdt1">
              <input
                class="dark_dd"
                type="text"
                name="#"
                placeholder="Type a message"
                (keyup.enter)="sendMessage($event)"
              />
            </div>
            <div class="wdt2">
              <button><img src="assets/images/voice.png" alt="image" /></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</ion-content>
