<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button
        class="skip-getting-started-button"
        fill="clear"
        (click)="skip()"
        >skip</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- We need the form wrapping the slides so all the inputs in the different slides are part of the same form -->
  <form class="getting-started-form" [formGroup]="interestForm">
    <swiper
      class="getting-started-slides"
      [pagination]="true"
      (swiper)="swiperInit($event)"
      (slideChangeTransitionStart)="slideWillChange()"
    >
      <ng-template swiperSlide>
        <ion-row
          class="slide-inner-row interests-to-follow-slide question-slide"
        >
          <ion-col class="heading-col">
            <h2 class="slide-title">Pick categories to follow</h2>
            <p class="slide-subtitle">You can add or change them later</p>
          </ion-col>
          <ion-col class="question-options-col">
            <ion-row class="options-list-row" formArrayName="interests">
              <ion-col
                *ngFor="let item of (categoryList$ | async) as categoryList; let i = index; trackBy: itemById"
                size="6"
              >
                <app-checkbox-wrapper class="custom-checkbox">
                  <app-image-shell
                    [display]="'cover'"
                    animation="spinner"
                    class="checkbox-cover add-overlay"
                    [src]="'./assets/sample-images/getting-started/category1-1.1.png'"
                  >
                    <app-aspect-ratio [ratio]="{w:1, h:1}">
                      <span class="checkbox-title"
                        >{{categoryList[i].name}}</span
                      >
                      <ion-checkbox
                        [formControlName]="categoryList[i].categoryId - 1"
                      ></ion-checkbox>
                    </app-aspect-ratio>
                  </app-image-shell>
                </app-checkbox-wrapper>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="call-to-action-col">
            <ion-button
              class="signup-button"
              color="secondary"
              expand="block"
              (click)="goNext()"
              >{{'NEXT'}}</ion-button
            >
          </ion-col>
        </ion-row>
      </ng-template>
    </swiper>
  </form>
</ion-content>
