.rating-area {
  padding: 20px 0 30px;
}

.rating-area h3 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 18px;
  margin: 20px 0 0;
}

.lm_text {
  background: #fafafa;
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 10px;
  font-weight: 600;
  line-height: 1.5;
  margin: 15px 0 20px;
}

.collum-2 hr,
.drake_div hr,
.rating-area hr {
	background: #EEEEEF !important;
	height: 1px;
	color: #EEEEEF !important;
	margin: 10px 0 5px;
}
