<div class="modal-content">
  <div class="modal-body">
    <div class="text-center mdl_div">
      <h2 class="primary">{{ 'MEGA BOOST' }}</h2>

      <div class="description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse dolor
        quis sunt consequuntur modi reiciendis sed ea, maxime quia adipisci
        minus ipsa tempore perspiciatis inventore culpa accusantium eaque!
        Quibusdam, ullam.
      </div>
      <!-- <div class="product-list" *ngFor="let product of productList$ | async">
        <div
          class="product-card"
          (click)="purchase(product.identifier, oneDayBoostCount !== 0, 1)"
        >
          <div class="title">1 DAY</div>
          <div class="content">
            {{ 'Left: 3' }}
          </div>
        </div>
        <div
          class="product-card"
          (click)="purchase(product.identifier, threeDayBoostCount !== 0, 3)"
        >
          <div class="title">3 DAY</div>
          <div class="content">
            {{ 'Left: 3' }}
          </div>
        </div>
        <div
          class="product-card"
          (click)="purchase(product.identifier, sevenDayBoostCount !== 0, 7)"
        >
          <div class="title">7 DAY</div>
          <div class="content">
            {{ 'Left: 3' }}
          </div>
        </div>
      </div> -->

      <div class="product-list">
        <div
          class="product-card"
          (click)="purchase(productList[0].identifier, false, 1)"
        >
          <div class="title">1 DAY</div>
          <div class="content">
            {{ 100 | currency }}
          </div>
          <div class="content-small">
            <s>{{ 110 | currency }}</s>
          </div>
          <div *ngIf="true" class="badge">10% off</div>
        </div>
        <div class="product-card" (click)="purchase('test', true, 3)">
          <div class="title">3 DAY</div>
          <div class="content">{{ 'Left: 3' }}</div>
          <div class="content-small"></div>
          <div *ngIf="true" class="badge">15% off</div>
        </div>
        <div class="product-card">
          <div class="title">7 DAY</div>
          <div class="content">
            {{ 600 | currency }}
          </div>
          <div class="content-small">
            <s>{{ 700 | currency }}</s>
          </div>
          <div *ngIf="true" class="badge">20% off</div>
        </div>
      </div>
    </div>
  </div>
</div>
