<div class="modal-content">
  <div class="modal-body">
    <div class="text-center mdl_div">
      <h2 class="primary">{{ 'MEGA BOOST' }}</h2>

      <div class="description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse dolor
        quis sunt consequuntur modi reiciendis sed ea, maxime quia adipisci
        minus ipsa tempore perspiciatis inventore culpa accusantium eaque!
        Quibusdam, ullam.
      </div>
      <div
        class="product-list"
        *ngFor="let product of productList; let i = index"
      >
        <div
          class="product-card"
          [ngClass]="{ disabled: isAvailable(i) }"
          (click)="purchase(product.identifier, boostCount[i] !== 0, 1)"
        >
          <div *ngIf="i === 0" class="title">1 DAY</div>
          <div *ngIf="i === 1" class="title">3 DAY</div>
          <div *ngIf="i === 2" class="title">7 DAY</div>
          <ng-container *ngIf="boostCount[i] === 0; else left">
            <div class="content">
              {{ product.price | currency }}
            </div>
            <div class="content-small">
              <s>{{ 110 | currency }}</s>
            </div>
          </ng-container>
          <ng-template #left>
            <div class="content">
              {{ 'Left: ' + boostCount[i] }}
            </div>
            <div class="content-small"></div>
          </ng-template>
          <div *ngIf="i === 0" class="badge">10% off</div>
          <div *ngIf="i === 1" class="badge">15% off</div>
          <div *ngIf="i === 2" class="badge">20% off</div>
        </div>
      </div>
    </div>
  </div>
</div>
