<div class="cause_content" [routerLink]="['/app/event/list', cardInfo.eventId]">
  <div class="inr_cause_content">
    <small class="dark_dd">{{ cardInfo.startTime | date : 'MMM d. y' }}</small>
    <p class="dark">
      {{ cardInfo.title }}
    </p>
    <p class="content dark_dd">
      {{ cardInfo.description }}
    </p>
    <swiper [slidesPerView]="'auto'" [spaceBetween]="10">
      <ng-container *ngFor="let item of cardInfo.categories; let i = index">
        <ng-template swiperSlide>
          <a class="primary">{{
            'CATEGORY.' + item.name.toUpperCase() | translate
          }}</a>
        </ng-template>
      </ng-container>
    </swiper>
  </div>
  <div class="cause_image">
    <img
      appImageFallBack
      [src]="cardInfo.imageUrl || 'assets/images/spoon.png'"
      alt="image"
    />
  </div>
</div>
