<div class="cause_content" [routerLink]="['/app/event/', cardInfo.eventId]">
  <div class="row">
    <div class="inr_cause_content">
      <small class="dark_dd">{{
        cardInfo.startTime | date : 'MMM d. y'
      }}</small>
      <p class="dark">
        {{ cardInfo.description }}
      </p>
      <div>
        <ng-container *ngFor="let item of cardInfo.interests; let i = index">
          <a *ngIf="i < 3" class="primary">{{ item.name }}</a>
        </ng-container>
      </div>
    </div>
    <div class="cause_image">
      <img [src]="cardInfo.imageUrl" alt="image" />
    </div>
  </div>
</div>
