.cause_content {
  display: flex;
  padding: 0 25px;
  margin: 0 0 15px;
}

.cause_image {
  width: 35%;
  padding: 0 0.7rem;
}

.cause_image img {
  border-radius: 17px;
  width: 100%;
  height: 6.4rem;
  object-fit: cover;
}

.inr_cause_content {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inr_cause_content small {
  font-size: 11px;
  font-weight: 600;
  margin: 0 0 2px;
}

.inr_cause_content p {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  height: 1.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.inr_cause_content p.content {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  height: 2.3rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.inr_cause_content a {
  width: 100%;
  font-size: 11px;
  border-radius: 8px;
  background: #eef4ff;
  font-weight: 600;
  padding: 0.1rem 0.4rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cause_content
  ::ng-deep
  .swiper-wrapper
  .swiper-slide:first-child.swiper-slide-active {
  margin-left: 0;
}

.cause_content ::ng-deep .swiper-wrapper {
  padding-bottom: 20px;
}

.cause_content ::ng-deep .swiper-slide {
  width: fit-content;
}

swiper {
  margin: 0;
}
