.main-area {
  padding: 40px 0 0;
  max-width: 575px;
  margin: 0 auto;
  position: relative;
}

.center_img img {
  width: 70%;
  margin: 60px 0 0;
}

.arw_left {
  color: #212121;
  font-size: 22px;
  vertical-align: middle;
}

.lets_content h2 {
  font-size: 50px;
  margin: 40px 0 0;
  font-weight: 700;
}

.link_list {
  margin: 30px 0 35px;
}

.link_list li a {
  display: block;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  padding: 15px 0;
  border: 1px solid #eceded;
  border-radius: 15px;
  margin: 0 0 15px;
  text-align: center;
}

.facebook {
  color: rgb(73, 150, 226);
}

svg {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

.link_list li a fa-icon {
  font-size: 25px;
  vertical-align: middle;
}

.link_list li a span {
  margin-left: 12px;
  vertical-align: middle;
}

.or_p {
  border-top: 1px solid #eceded;
  position: relative;
}

.or_p span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: 600;
  background: #fff;
  padding: 0 12px;
}

.sign_a .password_a {
  width: 100%;
  display: block;
  font-size: 15px;
  font-weight: 700;
  padding: 20px 0;
  border-radius: 35px;
  background: #0c8cf0;
  margin: 40px 0 0;
}

.sign_a p {
  padding: 25px 0 35px;
}

.sign_a p a {
  font-weight: 700;
}
