<app-header></app-header>

<ion-content>
  <main class="article-area main-area">
    <div class="image_slider">
      <div class="pson_div">
        <h3 class="dark">Suggested <a class="primary">See All</a></h3>
      </div>
      <swiper
        [slidesPerView]="1.8"
        [spaceBetween]="20"
        [centeredSlides]="true"
        [centeredSlidesBounds]="true"
      >
        <ng-template swiperSlide>
          <div class="item slide_item">
            <img src="assets/images/spoon.png" alt="image" />
            <p class="dark">
              Lorem ipsum dolor sit amet, consectetur adipisicing el...
            </p>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="item slide_item">
            <img src="assets/images/spoon.png" alt="image" />
            <p class="dark">
              Lorem ipsum dolor sit amet, consectetur adipisicing el...
            </p>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="item slide_item">
            <img src="assets/images/spoon.png" alt="image" />
            <p class="dark">
              Lorem ipsum dolor sit amet, consectetur adipisicing el...
            </p>
          </div>
        </ng-template>
      </swiper>

      <div class="pson_div">
        <h3 class="dark">Events <a class="primary" href="#">See All</a></h3>
      </div>
      <swiper [slidesPerView]="3.75" [spaceBetween]="20">
        <ng-template swiperSlide>
          <div class="item btn_item">
            <button class="primary" [ngClass]="{ active_btn: true }">
              Newest
            </button>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="item btn_item">
            <button class="primary">Health</button>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="item btn_item">
            <button class="primary">Covid-19</button>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="item btn_item">
            <button class="primary">Lifestyle</button>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="item btn_item">
            <button class="primary">Newest</button>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="item btn_item">
            <button class="primary">Newest</button>
          </div>
        </ng-template>
      </swiper>

      <ng-container *ngFor="let item of listing$ | async">
        <app-listing-card [cardInfo]="item"></app-listing-card>
      </ng-container>

      <div class="cause_content" [routerLink]="['/app/event/', 0]">
        <div class="row">
          <div class="inr_cause_content">
            <small class="dark_dd">Dec 22. 2022</small>
            <p class="dark">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod.
            </p>
            <div>
              <a class="primary" href="#">Covid-19</a>
              <a class="primary" href="#">Covid-19</a>
            </div>
          </div>
          <div class="cause_image">
            <img src="assets/images/spoon.png" alt="image" />
          </div>
        </div>
      </div>
      <div class="cause_content">
        <div class="row">
          <div class="inr_cause_content">
            <small class="dark_dd">Dec 22. 2022</small>
            <p class="dark">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod.
            </p>
            <div>
              <a class="primary" href="#">Covid-19</a>
            </div>
          </div>
          <div class="cause_image">
            <img src="assets/images/spoon.png" alt="image" />
          </div>
        </div>
      </div>
      <div class="cause_content">
        <div class="row">
          <div class="inr_cause_content">
            <small class="dark_dd">Dec 22. 2022</small>
            <p class="dark">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod.
            </p>
            <div>
              <a class="primary" href="#">Covid-19</a>
            </div>
          </div>
          <div class="cause_image">
            <img src="assets/images/spoon.png" alt="image" />
          </div>
        </div>
      </div>
    </div>
  </main>
</ion-content>
