<app-header></app-header>

<ion-content>
  <main class="article-area main-area">
    <div class="image_slider">
      <div class="pson_div">
        <h3 class="dark">Suggested <a class="primary">See All</a></h3>
      </div>
      <swiper
        [slidesPerView]="1.8"
        [spaceBetween]="20"
        [centeredSlides]="true"
        [centeredSlidesBounds]="true"
      >
        <ng-template swiperSlide>
          <div class="item slide_item">
            <img src="assets/images/spoon.png" alt="image" />
            <p class="dark">
              Lorem ipsum dolor sit amet, consectetur adipisicing el...
            </p>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="item slide_item">
            <img src="assets/images/spoon.png" alt="image" />
            <p class="dark">
              Lorem ipsum dolor sit amet, consectetur adipisicing el...
            </p>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="item slide_item">
            <img src="assets/images/spoon.png" alt="image" />
            <p class="dark">
              Lorem ipsum dolor sit amet, consectetur adipisicing el...
            </p>
          </div>
        </ng-template>
      </swiper>

      <div class="pson_div">
        <h3 class="dark">Events <a class="primary" href="#">See All</a></h3>
      </div>
      <ng-container *ngFor="let item of listing$ | async">
        <app-listing-card [cardInfo]="item"></app-listing-card>
      </ng-container>
    </div>
  </main>
</ion-content>
