<app-header></app-header>

<ion-content #content class="event-create-content">
  <main class="main-area create-event-area">
    <div class="container">
      <form [formGroup]="eventForm">
        <img
          *ngIf="eventCoverPictureUrl; else empty"
          class="event_image"
          [src]="eventCoverPictureUrl"
          (click)="selectImage()"
        />

        <ng-template #empty>
          <label
            class="picture"
            for="picture__input"
            tabIndex="0"
            (click)="selectImage()"
          >
            <i class="fa-solid fa-image"></i><br />
            <fa-icon [icon]="['fas', 'image']"></fa-icon>
            <p>Add event cover image</p>
          </label>
        </ng-template>

        <div class="event_content">
          <label class="d-block" for="title"
            ><span class="dark">Title</span></label
          >
          <ion-input
            class="dark_dd"
            id="title"
            type="text"
            placeholder="Event Title"
            formControlName="title"
          ></ion-input>
        </div>

        <div class="event_content">
          <label class="d-block" for="title">
            <span class="dark">Description</span>
          </label>
          <ion-textarea
            class="dark_dd"
            placeholder="Event Description"
            formControlName="description"
          ></ion-textarea>
        </div>

        <div class="event_content">
          <label class="d-block" for="isOnline"
            ><span class="dark">Is Online Event</span></label
          >
          <div class="radio_div">
            <input
              type="radio"
              id="test1"
              formControlName="isOnline"
              [value]="true"
              (ngModelChange)="onIsOnlineChange($event)"
            />
            <label class="dark" for="test1">Yes</label>
            <input
              type="radio"
              id="test2"
              formControlName="isOnline"
              [value]="false"
              (ngModelChange)="onIsOnlineChange($event)"
            />
            <label class="dark" for="test2">No</label>
          </div>
          <br />
          <br />
        </div>

        <div class="event_content">
          <label class="d-block" for="location"
            ><span class="dark">Location</span></label
          ><br />
          <app-location-input
            formControlName="formattedAddress"
            (locaitionChangeEvent)="onLocationChange($event)"
          ></app-location-input>
        </div>

        <div class="event_content">
          <label class="d-block" for="topics"
            ><span class="dark">Select Categories</span></label
          >
          <ion-row
            class="checkbox-tags rounded-checkbox-tags"
            formArrayName="categories"
          >
            <ion-item
              lines="none"
              class="checkbox-tag rounded-tag"
              *ngFor="
                let item of categoryList;
                let i = index;
                trackBy: trackByIndex
              "
            >
              <ion-label class="tag-label">
                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                {{ item.name }}
              </ion-label>
              <ion-checkbox [formControlName]="i"></ion-checkbox>
            </ion-item>
          </ion-row>
          <div
            *ngIf="eventForm.hasError('categoryShouldBeChoose')"
            class="error-msg"
          >
            <fa-icon [icon]="['fas', 'exclamation-circle']"></fa-icon> Should
            choose at least one category
          </div>
          <br />
        </div>

        <div class="event_content">
          <label class="d-block" for="start-time"
            ><span class="dark">Set Start Time</span></label
          >
          <ion-input
            class="dark_dd"
            id="start-time"
            type="datetime-local"
            placeholder="Article Title"
            [min]="minDate"
            formControlName="startTime"
          ></ion-input>
        </div>

        <div class="event_content">
          <label class="d-block" for="end-time"
            ><span class="dark">Set End Time</span></label
          >
          <ion-input
            class="dark_dd"
            id="end-time"
            type="datetime-local"
            placeholder="Article Title"
            [min]="minDate"
            formControlName="endTime"
          ></ion-input>
          <div
            *ngIf="eventForm.hasError('endTimeNeedsToAfterStartTime')"
            class="error-msg"
          >
            <fa-icon [icon]="['fas', 'exclamation-circle']"></fa-icon> End time
            should after start time
          </div>
        </div>

        <div class="event_content">
          <label class="d-block" for="topics"
            ><span class="dark">Max Participants</span></label
          >
          <app-counter-input
            formControlName="maxParticipants"
            [max]="15"
            [min]="1"
          ></app-counter-input>
          <div
            *ngIf="eventForm.get('maxParticipants')?.hasError('rangeError')"
            class="error-msg"
          >
            <fa-icon [icon]="['fas', 'exclamation-circle']"></fa-icon>
            {{ 'Max participants should > 1 and < 15' }}
          </div>
          <br />
        </div>

        <div class="event_content">
          <label class="d-block" for="title"
            ><span class="dark">Price</span></label
          >
          <ion-input
            class="dark_dd"
            id="price"
            type="number"
            formControlName="price"
            (ionFocus)="eventForm.get('price')?.setValue(null)"
          ></ion-input>
        </div>

        <div class="event_content">
          <ion-button
            class="submit-button"
            (click)="onSubmit()"
            [disabled]="eventForm.invalid"
          >
            {{ mode === 'edit' ? 'Confirm' : 'Create' }}
          </ion-button>
        </div>
      </form>
    </div>
  </main>
</ion-content>
