<app-header></app-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <main class="history-area main-area">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label> Upcoming </ng-template>
        <br />
        <div
          class="cause_content"
          *ngFor="let item of upcoming$ | async; trackBy: trackByIndex"
        >
          <div class="cause_image">
            <img
              [src]="item.imageUrl || 'assets/images/spoon.png'"
              alt="image"
            />
          </div>
          <div
            class="inr_cause_content"
            [routerLink]="['/app/event/list', item.eventId]"
          >
            <div class="content-row">
              <small class="dark_dd">{{
                item.startTime | date : 'EEE, MMM d, y'
              }}</small>
            </div>
            <p class="dark">
              {{ item.title }}
            </p>
            <p class="content dark_dd">
              {{ item.description }}
            </p>
          </div>
          <div class="tool_btn">
            <button id="menu" (click)="openMenu(item.eventId, item.creatorId)">
              <fa-icon [icon]="['fas', 'ellipsis-vertical']"></fa-icon>
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label> Joined </ng-template>
        <br />
        <div
          class="cause_content"
          *ngFor="let item of joined$ | async; trackBy: trackByIndex"
        >
          <div class="cause_image">
            <img
              [src]="item.imageUrl || 'assets/images/spoon.png'"
              alt="image"
            />
          </div>
          <div class="inr_cause_content">
            <div class="content-row">
              <small class="dark_dd">{{
                item.startTime | date : 'EEE, MMM d, y'
              }}</small>
              <div *ngIf="getIsOngoing(item.endTime)" class="tag">Ongoing</div>
            </div>
            <p class="dark">
              {{ item.title }}
            </p>
            <p class="content dark_dd">
              {{ item.description }}
            </p>
          </div>
          <!-- <div class="tool_btn">
            <button class="dark">
              <fa-icon [icon]="['fas', 'ellipsis-vertical']"></fa-icon>
            </button>
          </div> -->
        </div>
      </mat-tab>
    </mat-tab-group>
  </main>
</ion-content>
