mat-tab-group {
  --mat-tab-header-active-ripple-color: none;
  --mdc-tab-indicator-active-indicator-color: #246bfd;
  --mat-tab-header-active-label-text-color: #246bfd;
  --mat-tab-header-inactive-ripple-color: #246bfd;
  --mat-tab-header-active-focus-label-text-color: #246bfd;
  --mat-tab-header-active-hover-label-text-color: #246bfd;
  --mat-tab-header-active-focus-indicator-color: #246bfd;
  --mat-tab-header-active-hover-indicator-color: #246bfd;
}

::ng-deep .mat-mdc-tab-header {
  --mat-tab-header-label-text-weight: 600;
}

.joiner-list-content {
  display: flex;
  padding: 0 25px;
  margin: 0 0 15px;

  .joiner-list-image {
    width: 25%;

    img {
      border-radius: 17px;
      width: 5rem;
      height: 5rem;
      object-fit: cover;
    }
  }

  .upcoming-content {
    width: 65%;
    height: 100%;

    small {
      font-size: 11px;
      font-weight: 600;
    }

    p {
      font-size: 16px;
      font-weight: 700;
      line-height: 1.4;
      height: 1.5rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    p.content {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.4;
      height: 2.3rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  .joined-content {
    width: 75%;
    height: 100%;

    small {
      font-size: 11px;
      font-weight: 600;
    }

    p {
      width: 75%;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.4;
      height: 1.5rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    hr {
      background: #eeeeee;
      height: 1px;
      color: #eeeeee;
      margin: 0 0 3px 0;
    }

    .button-area {
      display: flex;
      justify-content: space-around;
    }

    ion-button {
      --background: transparent;
      width: 40%;
      color: #246bfd;
      border: #246bfd solid 2px;
      border-radius: 25px;
      height: 1.5rem;
      font-size: 12px;
    }
  }

  .tool_btn {
    width: 10%;

    button {
      width: 100%;
      padding-top: 0.5rem;

      fa-icon {
        font-size: 18px;
        color: #000000;
      }
    }
  }
}

menu {
  width: 5rem;
}

.content-row {
  display: flex;
  justify-content: space-between;
  .tag {
    font-size: 12px;
    padding: 0.1rem 0.6rem;
    // color: #fff;
    color: #246bfd;
    font-weight: 600;
    text-align: center;
    // background-color: #246bfd;
    background-color: #eef4ff;
    border-radius: 25px;
  }
}
