<ion-content class="menu-content">
  <main class="prof profile-menu-area main-area">
    <div class="container">
      <div class="upload_profile text-center">
        <ng-container *ngIf="user$ | async as user">
          <div class="inr_upload">
            <img
              appImageFallBack
              [src]="user.profilePictureUrl || 'assets/images/profile.png'"
              [routerLink]="['/app/menu/profile', user.userId]"
              alt="image"
            />
          </div>
          <h3 class="dark">{{ user.name }}</h3>
        </ng-container>
        <hr />
      </div>
      <div class="menu_content">
        <div class="content">
          <a routerLink="/app/menu/edit-profile">
            <div class="acc__card">
              <div class="acc__title">
                <fa-icon class="dark" [icon]="['far', 'user']"></fa-icon>
                <span class="dark">{{ 'MENU.EDIT_PROFILE' | translate }}</span>
              </div>
              <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
            </div>
          </a>

          <a routerLink="/app/menu/purchase">
            <div class="acc__card">
              <div class="acc__title">
                <fa-icon class="dark" [icon]="['far', 'credit-card']"></fa-icon>
                <span class="dark">{{ 'MENU.MEMBERSHIP' | translate }}</span>
              </div>
              <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
            </div>
          </a>

          <div class="acc__card">
            <div class="acc__title">
              <fa-icon class="dark" [icon]="['fas', 'earth']"></fa-icon>
              <span class="dark">{{ 'MENU.LANGUAGE' | translate }}</span>
            </div>
            <select class="dark" (change)="changeLanguage($event)">
              <option
                *ngFor="let item of languages"
                class="dark"
                [value]="item.code"
              >
                {{ item.name }}
              </option>
            </select>
          </div>

          <div class="acc__card">
            <div class="acc__title">
              <fa-icon [icon]="['fas', 'circle-half-stroke']"></fa-icon>
              <span class="dark">{{ 'MENU.DARK_MODE' | translate }}</span>
            </div>
            <ion-toggle
              (ionChange)="changeMode()"
              [checked]="isDarkMode"
            ></ion-toggle>
          </div>

          <a (click)="openEmail()">
            <div class="acc__card">
              <div class="acc__title">
                <fa-icon class="dark" [icon]="['fas', 'circle-info']"></fa-icon>
                <span class="dark">{{ 'MENU.HELP_CENTER' | translate }}</span>
              </div>
              <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
            </div>
          </a>
          <a (click)="inviteFriends()">
            <div class="acc__card">
              <div class="acc__title">
                <fa-icon class="dark" [icon]="['fas', 'user-group']"></fa-icon>
                <span class="dark">{{
                  'MENU.INVITE_FRIENDS' | translate
                }}</span>
              </div>
              <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
            </div>
          </a>
          <a (click)="logout()">
            <div class="acc__card">
              <div class="acc__title log_out">
                <fa-icon
                  class="danger"
                  icon="arrow-right-from-bracket"
                ></fa-icon>
                <span class="danger">{{ 'MENU.LOGOUT' | translate }}</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>
</ion-content>
