<main class="prof profile-menu-area main-area">
  <div class="container">
    <div class="head_arw">
      <img src="assets/images/flower.png" alt="image" />
      <h3 class="dark">Profile</h3>
      <div class="dot_opt">
        <a href="#"><img src="assets/images/dpt_image1.png" alt="image" /></a>
      </div>
    </div>
    <div class="main-profile">
      <div class="upload_profile text-center">
        <div class="inr_upload">
          <img src="assets/images/profile1.jpg" alt="image" />
          <button><i class="white fa-solid fa-pen"></i></button>
        </div>
        <h3 class="dark">Andrew Ainsley</h3>
        <a class="dark" href="callto:+1-111-467-378-399">+1 111 467 378 399</a>
        <hr />
      </div>
      <div class="menu_content">
        <div class="content">
          <a href="#">
            <div class="acc__card">
              <div class="acc__title">
                <i class="dark fa-thin fa-user"></i>
                <span class="dark">Edit Profile</span>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="acc__card">
              <div class="acc__title">
                <i class="dark fa-light fa-bell"></i>
                <span class="dark">Notifications</span>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="acc__card">
              <div class="acc__title">
                <i class="dark fa-light fa-credit-card-front"></i>
                <span class="dark">Payment</span>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="acc__card">
              <div class="acc__title">
                <i class="dark fa-light fa-shield-check"></i>
                <span class="dark">Security</span>
              </div>
            </div>
          </a>

          <div class="acc__card">
            <div class="acc__title">
              <i class="dark fa-light fa-shield-check"></i>
              <span class="dark">Language</span>
              <select class="dark">
                <option class="dark">English(US)</option>
                <option class="dark">Bangla</option>
                <option class="dark">china</option>
                <option class="dark">Korean</option>
                <option class="dark">Thailand</option>
                <option class="dark">Hindi</option>
              </select>
            </div>
          </div>

          <div class="acc__card">
            <div class="acc__title">
              <i class="dark fa-light fa-shield-check"></i>
              <span class="dark">Dark Mode</span>

              <button
                class="light-mode-button"
                aria-label="Toggle Light Mode"
                onclick="toggle_light_mode()"
              >
                <span></span>
                <span></span>
              </button>
            </div>
          </div>

          <a href="#">
            <div class="acc__card">
              <div class="acc__title">
                <i class="dark fa-light fa-square-info"></i>
                <span class="dark">Help Center</span>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="acc__card">
              <div class="acc__title">
                <i class="dark fa-light fa-user-group"></i>
                <span class="dark">Invite Friends</span>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="acc__card">
              <div class="acc__title log_out">
                <i class="danger fa-regular fa-arrow-right-from-bracket"></i>
                <span class="danger">Logout</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-area">
    <div class="row">
      <div class="col">
        <a class="ftr_links" href="#">
          <i class="dark_dd fa-light fa-house"></i>
          <br />
          <span class="dark_dd">Home</span>
        </a>
      </div>
      <div class="col">
        <a class="ftr_links" href="#">
          <i class="dark_dd fa-regular fa-calendar-days"></i>
          <br />
          <span class="dark_dd">Appointment</span>
        </a>
      </div>
      <div class="col">
        <a class="ftr_links" href="#">
          <i class="dark_dd fa-thin fa-files"></i>
          <br />
          <span class="dark_dd">History</span>
        </a>
      </div>
      <div class="col">
        <a class="ftr_links" href="#">
          <i class="dark_dd fa-light fa-file"></i>
          <br />
          <span class="dark_dd">Articles</span>
        </a>
      </div>
      <div class="col">
        <a class="ftr_links active_links" href="#">
          <i class="dark_dd fa-regular fa-user"></i>
          <br />
          <span class="dark_dd">Profile</span>
        </a>
      </div>
    </div>
  </div>
</main>
