.profile-menu-area {
  margin-top: 2rem;
}

.inr_upload {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  position: relative;
}

.inr_upload img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.upload_profile {
  margin-top: 5rem;
  button {
    position: absolute;
    bottom: 13px;
    right: -2px;
  }
}

.upload_profile button fa-icon {
  background: #0c8cf0;
  padding: 6px;
  border-radius: 5px;
}

.upload_profile h3 {
  font-size: 22px;
  font-weight: 700;
  margin: 15px 0 5px;
}

.upload_profile a {
  font-size: 14px;
  font-weight: 500;
}

.upload_profile hr {
  background: #eeeeef !important;
  height: 1px;
  color: #eeeeef !important;
  margin: 20px 0;
}

.acc {
  margin: 0 auto;
  max-width: 800px;
}

.acc__card {
  position: relative;
  display: grid;
  height: 3rem;
  grid-template-columns: 1fr 0.05fr;
  align-items: center;

  fa-icon {
    color: #000000;
  }
}

.acc__title,
.acc_cnt {
  cursor: pointer;
  display: block;
  position: relative;
  text-align: left;
}

.acc__title fa-icon,
.acc_cnt fa-icon {
  font-size: 18px;
  margin: 0 15px 0 0;
  vertical-align: middle;
  width: 20px;
}

.acc__title span,
.acc_cnt span {
  font-size: 17px;
  font-weight: 600;
}

select {
  appearance: none;
  background: none;
  border: none;
  font-size: 17px;
  font-weight: 600;
}

.log_out::after {
  display: none;
}
