<app-header></app-header>
<ion-content class="menu-content">
  <main class="prof profile-menu-area main-area">
    <div class="container">
      <div class="upload_profile text-center">
        <div class="inr_upload">
          <img src="assets/images/profile1.jpg" alt="image" />
          <button><fa-icon class="white" icon="pen"></fa-icon></button>
        </div>
        <h3 class="dark">Andrew Ainsley</h3>
        <a class="dark" href="#">+1 111 467 378 399</a>
        <hr />
      </div>
      <div class="menu_content">
        <div class="content">
          <a href="#">
            <div class="acc__card">
              <div class="acc__title">
                <fa-icon class="dark" [icon]="['far', 'user']"></fa-icon>
                <span class="dark">Edit Profile</span>
              </div>
            </div>
          </a>
          <a href="#" routerLink="/app/notifications">
            <div class="acc__card">
              <div class="acc__title">
                <fa-icon class="dark" [icon]="['far', 'bell']"></fa-icon>
                <span class="dark">Notifications</span>
              </div>
            </div>
          </a>
          <a href="#" routerLink="/app/purchase">
            <div class="acc__card">
              <div class="acc__title">
                <fa-icon class="dark" [icon]="['far', 'credit-card']"></fa-icon>
                <span class="dark">Payment</span>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="acc__card">
              <div class="acc__title">
                <fa-icon class="dark" [icon]="['fas', 'shield']"></fa-icon>
                <span class="dark">Security</span>
              </div>
            </div>
          </a>

          <div class="acc__card">
            <div class="acc__title">
              <fa-icon class="dark" [icon]="['fas', 'earth']"></fa-icon>
              <span class="dark">Language</span>
              <select class="dark">
                <option class="dark">English(US)</option>
                <option class="dark">Bangla</option>
                <option class="dark">china</option>
                <option class="dark">Korean</option>
                <option class="dark">Thailand</option>
                <option class="dark">Hindi</option>
              </select>
            </div>
          </div>

          <div class="acc__card">
            <div class="acc__title">
              <fa-icon [icon]="['fas', 'circle-half-stroke']"></fa-icon>
              <span class="dark">Dark Mode</span>
              <button class="light-mode-button">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>

          <a href="#">
            <div class="acc__card">
              <div class="acc__title">
                <fa-icon class="dark" [icon]="['fas', 'circle-info']"></fa-icon>
                <span class="dark">Help Center</span>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="acc__card">
              <div class="acc__title">
                <fa-icon class="dark" [icon]="['fas', 'user-group']"></fa-icon>
                <span class="dark">Invite Friends</span>
              </div>
            </div>
          </a>
          <a href="#" routerLink="/auth/sign-in/true">
            <div class="acc__card">
              <div class="acc__title log_out">
                <fa-icon
                  class="danger"
                  icon="arrow-right-from-bracket"
                ></fa-icon>
                <span class="danger">Logout</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>
</ion-content>
