<ion-tabs (ionTabsDidChange)="ionTabsDidChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      tab="event"
      [routerLinkActive]="['tab-selected']"
      [routerLink]="['/app/event']"
    >
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button
      tab="chat"
      [routerLinkActive]="['tab-selected']"
      [routerLink]="['/app/chat']"
    >
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button
      tab="event-create"
      [routerLinkActive]="['tab-selected']"
      [routerLink]="['/app/event-create']"
    >
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button
      tab="notifications"
      [routerLinkActive]="['tab-selected']"
      [routerLink]="['/app/notifications']"
    >
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button
      tab="menu"
      [routerLinkActive]="['tab-selected']"
      [routerLink]="['/app/menu']"
    >
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
