 <ion-tabs (ionTabsDidChange)="ionTabsDidChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="user" [routerLinkActive]="['tab-selected']" [routerLink]="['/app/user']">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label class="tab-title">Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="event" [routerLinkActive]="['tab-selected']" [routerLink]="['/app/event']">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label class="tab-title">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="messages" [routerLinkActive]="['tab-selected']" [routerLink]="['/app/messages']">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <ion-label class="tab-title">Messages</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
