ion-tab-button {
  --color: #b1b0b1;
  --color-selected: var(--ion-color-primary);
}

ion-tab-bar {
  --border: solid 1px var(--ion-toolbar-border-color);
  --background: var(--ion-background-color);
}
