<main class="rating main-area">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" (click)="cancel()">{{
        'EVENT_LIST.CANCEL' | translate
      }}</ion-buttons>
      <ion-title mode="ios">{{ 'EVENT_LIST.FILTERS' | translate }}</ion-title>
      <ion-buttons slot="end" (click)="reset()">
        {{ 'EVENT_LIST.RESET' | translate }}
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="filter_content">
    <form [formGroup]="filterForm">
      <div class="filter_list">
        <div class="filter_div">
          <h3>{{ 'EVENT_LIST.CATEGORIES' | translate }}</h3>
          <ion-row
            class="checkbox-tags rounded-checkbox-tags"
            formArrayName="categories"
          >
            <ion-item
              lines="none"
              class="checkbox-tag rounded-tag"
              *ngFor="
                let item of categoryList;
                let i = index;
                trackBy: trackByIndex
              "
            >
              <ion-label class="tag-label">
                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                {{ 'CATEGORY.' + item.name.toUpperCase() | translate }}
              </ion-label>
              <ion-checkbox [formControlName]="i"></ion-checkbox>
            </ion-item>
          </ion-row>
        </div>

        <div class="filter_div">
          <h3>{{ 'EVENT_LIST.DISTANCE' | translate }}</h3>
          <ion-range
            mode="ios"
            [pin]="true"
            [pinFormatter]="pinFormatter"
            [min]="15"
            [max]="250"
            [value]="filterForm.get('radius')?.value"
            (ionChange)="onDistanceChange($event)"
          ></ion-range>
        </div>
        <div class="filter_div">
          <div class="toggle-container">
            <h3>{{ 'EVENT_LIST.ONLINE' | translate }}</h3>
            <ion-toggle formControlName="onlineEvent"></ion-toggle>
          </div>
        </div>

        <div class="filter_div">
          <h3>{{ 'EVENT_LIST.START_TIME' | translate }}</h3>
          <ion-input
            class="dark_dd"
            id="start-time"
            type="datetime-local"
            [min]="minDate"
            formControlName="startDate"
          ></ion-input>
        </div>

        <div class="filter_div">
          <h3>{{ 'EVENT_LIST.END_TIME' | translate }}</h3>
          <ion-input
            class="dark_dd"
            id="start-time"
            type="datetime-local"
            [min]="minDate"
            formControlName="endDate"
          ></ion-input>
        </div>
      </div>
    </form>
  </div>
  <ion-footer>
    <ion-toolbar>
      <ion-button (click)="applyFilter()">{{
        'EVENT_LIST.APPLY' | translate
      }}</ion-button>
    </ion-toolbar>
  </ion-footer>
</main>
