<main class="rating main-area">
  <ion-header>
    <ion-toolbar>
      <ion-button slot="start" (click)="cancel()"> Cancel </ion-button>
      <ion-title>Filters</ion-title>
      <ion-button slot="end"> Reset </ion-button>
    </ion-toolbar>
  </ion-header>

  <div class="filter_content">
    <div class="filter_list">
      <h3>Categories</h3>
      <ion-item>
        <ion-label>Label 1</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Label 2</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Label 3</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Label 4</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <hr />
    </div>
    <div class="filter_list">
      <h3>Distance</h3>
      <ion-item>
        <ion-label>Any distance</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>5 km</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>10 km</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>15 km</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <hr />
    </div>
    <div class="filter_list">
      <h3>Distance</h3>
      <ion-item>
        <ion-label>Any distance</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>5 km</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>10 km</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>15 km</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <hr />
    </div>
    <div class="filter_list">
      <h3>Distance</h3>
      <ion-item>
        <ion-label>Any distance</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>5 km</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>10 km</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>15 km</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <hr />
    </div>
  </div>
  <ion-footer>
    <ion-toolbar>
      <ion-button>Apply</ion-button>
    </ion-toolbar>
  </ion-footer>
</main>
