<main class="rating main-area">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" (click)="cancel()"> Cancel </ion-buttons>
      <ion-title>Filters</ion-title>
      <ion-buttons slot="end" (click)="reset()"> Reset </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="filter_content">
    <form [formGroup]="filterForm">
      <div class="filter_list">
        <div class="filter_div">
          <h3>Categories</h3>
          <ion-row
            class="checkbox-tags rounded-checkbox-tags"
            formArrayName="categories"
          >
            <ion-item
              lines="none"
              class="checkbox-tag rounded-tag"
              *ngFor="
                let item of categoryList;
                let i = index;
                trackBy: trackByIndex
              "
            >
              <ion-label class="tag-label">
                <fa-icon [icon]="['fas', 'star']"></fa-icon>
                {{ item.name }}
              </ion-label>
              <ion-checkbox [formControlName]="i"></ion-checkbox>
            </ion-item>
          </ion-row>
        </div>

        <div class="filter_div">
          <h3>Distance</h3>
          <ion-range
            [pin]="true"
            [pinFormatter]="pinFormatter"
            [min]="5"
            [max]="25"
            [value]="filterForm.get('radius')?.value"
            (ionChange)="onDistanceChange($event)"
          ></ion-range>
        </div>

        <div class="filter_div">
          <h3>Start Time</h3>
          <ion-input
            class="dark_dd"
            id="start-time"
            type="datetime-local"
            [min]="minDate"
            formControlName="startDate"
          ></ion-input>
        </div>

        <div class="filter_div">
          <h3>End Time</h3>
          <ion-input
            class="dark_dd"
            id="start-time"
            type="datetime-local"
            [min]="minDate"
            formControlName="endDate"
          ></ion-input>
        </div>
      </div>
    </form>
  </div>
  <ion-footer>
    <ion-toolbar>
      <ion-button (click)="applyFilter()">Apply</ion-button>
    </ion-toolbar>
  </ion-footer>
</main>
