<app-header></app-header>
<ion-content>
  <main class="fix notification-area main-area p-0">
    <div class="main_tab">
      <div class="container">
        <div class="tabcontent">
          <div class="drake_div">
            <div class="row">
              <div class="collum-4">
                <img src="assets/images/men.png" alt="image" />
              </div>
              <div class="collum-8">
                <h3 class="dark">Dr. Drake Boeson</h3>
                <p class="mes_p">
                  <a class="dark_d" href="#">Messaging</a> -
                  <a class="primary" href="#">Upcoming</a>
                </p>
                <p class="dark_d td_p">Today <span>|</span> 16:00 PM</p>
                <img
                  class="message_image"
                  src="assets/images/message.png"
                  alt="image"
                />
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-6">
                <a class="primary cancel" href="#">Cancel</a>
              </div>
              <div class="col-6">
                <a class="white res_a" href="#">Accept</a>
              </div>
            </div>
          </div>
          <div class="drake_div">
            <div class="row">
              <div class="collum-4">
                <img src="assets/images/men.png" alt="image" />
              </div>
              <div class="collum-8">
                <h3 class="dark">Dr. Drake Boeson</h3>
                <p class="mes_p">
                  <a class="dark_d" href="#">Messaging</a> -
                  <a class="primary" href="#">Upcoming</a>
                </p>
                <p class="dark_d td_p">Today <span>|</span> 16:00 PM</p>
                <img
                  class="message_image"
                  src="assets/images/message.png"
                  alt="image"
                />
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-6">
                <a class="primary cancel" href="#">Cancel</a>
              </div>
              <div class="col-6">
                <a class="white res_a" href="#">Accept</a>
              </div>
            </div>
          </div>
          <div class="drake_div">
            <div class="row">
              <div class="collum-4">
                <img src="assets/images/men.png" alt="image" />
              </div>
              <div class="collum-8">
                <h3 class="dark">Dr. Drake Boeson</h3>
                <p class="mes_p">
                  <a class="dark_d" href="#">Messaging</a> -
                  <a class="primary" href="#">Upcoming</a>
                </p>
                <p class="dark_d td_p">Today <span>|</span> 16:00 PM</p>
                <img
                  class="message_image"
                  src="assets/images/message.png"
                  alt="image"
                />
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-6">
                <a class="primary cancel" href="#">Cancel</a>
              </div>
              <div class="col-6">
                <a class="white res_a" href="#">Accept</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</ion-content>
