<app-header></app-header>
<ion-content>
  <main class="fix notification-area main-area p-0">
    <div class="container">
      <div class="joiner_list">
        <div class="joiner_info">
          <div class="joiner_img">
            <img src="assets/images/men.png" alt="image" />
          </div>
          <div class="joiner_content">
            <h3 class="dark">Dr. Drake Boeson</h3>
            <p class="dark_d td_p">July 7, 2023 | 16:00 PM</p>
            <hr />
            <div class="button_area">
              <button>Accept</button>
              <button>Decline</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</ion-content>
