.cancel {
  font-size: 14px;
  border: 2px solid #246bfd;
  padding: 5px 10px;
  border-radius: 18px;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.joiner_list {
  margin-top: 1rem;

  .joiner_info {
    padding: 15px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 1px 1px 40px #ddd;
    margin: 0 0 20px;

    display: flex;

    .joiner_img {
      width: 25%;
      margin-right: 5%;

      img {
        object-fit: cover;
      }
    }

    .joiner_content {
      width: 70%;

      h3 {
        font-size: 20px;
      }

      .td_p {
        font-size: 13px;
      }

      .td_p span {
        margin: 0 4px;
      }

      .button_area {
        width: 100%;
        display: flex;
        justify-content: space-around;

        button {
          width: 45%;
          color: #246bfd;
          border: #246bfd solid 2px;
          border-radius: 25px;
          padding: 0.3rem 0;
        }
      }
    }
  }
}

hr {
  background: #eeeeee;
  height: 1px;
  color: #eeeeee;
  margin: 3px 0 7px 0;
}
