.wdt__1 {
  width: 75%;
}

.wdt__2 {
  width: 25%;
}

.min_img {
  width: 20%;

  img {
    border-radius: 50%;
    object-fit: cover;
  }
}

.text_div,
.P-text {
  width: 80%;
  padding: 0 0 0 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text_div h3 {
  font-size: 17px;
  font-weight: 700;
}

.P-text p {
  font-size: 14px;
  margin: 2px 0 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.msg_link {
  margin: 0 0 25px;
}

.un_read {
  font-weight: bolder;
}
