<a class="msg_link" (click)="navigateToChat()">
  <div class="row">
    <div class="wdt__1 d-flex">
      <div class="min_img">
        <img
          appImageFallBack
          [src]="roomPictureUrl ?? 'assets/images/profile1.jpg'"
          referrerpolicy="no-referrer"
        />
      </div>
      <div class="text_div P-text">
        <h3 class="dark">{{ roomName }}</h3>
        <p
          class="dark_d"
          [class.un_read]="
            chat.readInfos[user.uid].readTimestamp <
            chat.latestMessage.timestamp
          "
        >
          {{ chat.latestMessage.content ?? '' }}
        </p>
      </div>
    </div>
    <div class="wdt__2">
      <div class="P-text text-end">
        <p class="dark_d" [innerHTML]="displayTimeHtml"></p>
      </div>
    </div>
  </div>
</a>
