<div class="modal-content">
  <div class="modal-body">
    <div class="text-center mdl_div">
      <img src="assets/images/deliver_image.png" alt="image" />
      <h2 class="primary">Rescheduling Success!</h2>
      <p class="dark">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button mat-button type="button" class="btn btn-primary">
      View Appiontment
    </button>
    <button mat-button type="button" class="primary btn" [mat-dialog-close]="" cdkFocusInitial>
      Cancel
    </button>
  </div>
</div>
