<app-header></app-header>
<ion-content>
  <main class="fix notification-area main-area p-0">
    <div class="container">
      <div class="joiner_list">
        <ng-container *ngIf="participants$ | async as participants">
          <div
            *ngFor="let participant of participants"
            class="joiner_info"
            [ngClass]="{ disabled: false }"
            (click)="writeReview(participant)"
          >
            <div class="joiner_img">
              <img
                appImageFallBack
                [src]="
                  participant.profilePictureUrl || 'assets/images/profile.png'
                "
                alt="image"
              />
            </div>
            <div class="joiner_content">
              <div class="joiner-info">
                <h3 class="dark">{{ participant.name }}</h3>
                <hr />
                <p class="dark_d">
                  {{ participant.registeredAt | date : 'MMMM d, y | h:m a' }}
                </p>
              </div>
              <fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>
            </div>
          </div>
          <div *ngIf="participants.length === 0" class="no-more-content">
            {{
              canView
                ? 'No participantas wating for review'
                : 'This event is still goning on'
            }}
          </div>
        </ng-container>
      </div>
    </div>
  </main>
</ion-content>
