<app-header></app-header>
<ion-content>
  <main class="fix notification-area main-area p-0">
    <div class="container">
      <div class="joiner_list">
        <ng-container *ngIf="eventData$ | async as eventData">
          <!-- Display Event Host -->
          <div *ngIf="eventData.host" class="joiner_info">
            <div class="joiner_img">
              <img
                appImageFallBack
                [src]="
                  eventData.host.profilePictureUrl ||
                  'assets/images/profile.png'
                "
                [routerLink]="[
                  '/app/history/reviews/profile',
                  eventData.host.userId
                ]"
                alt="image"
              />
            </div>
            <div class="joiner_content">
              <div class="joiner-info">
                <h3
                  class="dark"
                  [routerLink]="[
                    '/app/history/reviews/profile',
                    eventData.host.userId
                  ]"
                >
                  {{ eventData.host.name }}
                </h3>
                <hr />
                <p class="dark_d">({{ 'EVENT_DETAIL.HOST' | translate }})</p>
              </div>
              <fa-icon
                *ngIf="!isReviewed(eventData.host.userId); else reviewed"
                (click)="writeReview(eventData.host)"
                [icon]="['fas', 'pen-to-square']"
                class="edit-icon"
              ></fa-icon>
              <ng-template #reviewed>
                <fa-icon
                  [icon]="['fas', 'check']"
                  class="check-icon"
                  style="color: rgb(32, 213, 0)"
                ></fa-icon>
              </ng-template>
            </div>
          </div>

          <!-- Display Participants -->
          <div
            *ngFor="let participant of eventData.participants"
            class="joiner_info"
          >
            <div class="joiner_img">
              <img
                appImageFallBack
                [src]="
                  participant.profilePictureUrl || 'assets/images/profile.png'
                "
                [routerLink]="[
                  '/app/history/reviews/profile',
                  participant.userId
                ]"
                alt="image"
              />
            </div>
            <div class="joiner_content">
              <div class="joiner-info">
                <h3
                  class="dark"
                  [routerLink]="[
                    '/app/history/reviews/profile',
                    participant.userId
                  ]"
                >
                  {{ participant.name }}
                </h3>
                <hr />
                <p class="dark_d">
                  {{ participant.registeredAt | date : 'MMM d, y | h:m a' }}
                </p>
              </div>
              <ng-container *ngIf="participant.userId">
                <fa-icon
                  *ngIf="!isReviewed(participant.userId); else reviewed"
                  (click)="writeReview(participant)"
                  [icon]="['fas', 'pen-to-square']"
                  class="edit-icon"
                ></fa-icon>
              </ng-container>
              <ng-template #reviewed>
                <fa-icon
                  [icon]="['fas', 'check']"
                  class="check-icon"
                  style="color: rgb(32, 213, 0)"
                ></fa-icon>
              </ng-template>
            </div>
          </div>

          <!-- No More Content Message -->
          <div
            *ngIf="eventData.participants.length === 0 && !eventData.host"
            class="no-more-content"
          >
            {{
              eventData.canView
                ? ('REVIEW.NO_PARTICIPANTS' | translate)
                : ('REVIEW.STILL_GOING_ON' | translate)
            }}
          </div>
        </ng-container>
      </div>
    </div>
  </main>
</ion-content>
