<app-header></app-header>
<ion-content>
  <main class="fix notification-area main-area p-0">
    <div class="container">
      <div class="joiner_list">
        <ng-container *ngIf="participants$ | async as participants">
          <div
            *ngFor="let participant of participants"
            class="joiner_info"
            [ngClass]="{ disabled: isReviewed(participant.userId) }"
            (click)="writeReview(participant)"
          >
            <div class="joiner_img">
              <img
                appImageFallBack
                [src]="
                  participant.profilePictureUrl || 'assets/images/profile.png'
                "
                alt="image"
              />
            </div>
            <div class="joiner_content">
              <div class="joiner-info">
                <h3 class="dark">{{ participant.name }}</h3>
                <hr />
                <p class="dark_d">
                  {{ participant.registeredAt | date : 'MMM d, y | h:m a' }}
                </p>
              </div>
              <fa-icon
                *ngIf="!isReviewed(participant.userId); else reviewed"
                [icon]="['fas', 'pen-to-square']"
              ></fa-icon>
              <ng-template #reviewed>
                <fa-icon
                  [icon]="['fas', 'check']"
                  style="color: rgb(32, 213, 0)"
                ></fa-icon>
              </ng-template>
            </div>
          </div>
          <div *ngIf="participants.length === 0" class="no-more-content">
            {{
              canView
                ? ('REVIEWS.NO_PARTICIPANTS' | translate)
                : ('REVIEWS.STILL_GOING_ON' | translate)
            }}
          </div>
        </ng-container>
      </div>
    </div>
  </main>
</ion-content>
