<app-header [defaultHref]="'app/menu'"></app-header>
<ion-content class="edit-profile-content">
  <main class="edit-profile main-area">
    <div class="slider-area">
      <h3 class="dark fnt-same">{{ 'EDIT_PROFILE.PHOTOS' | translate }}</h3>
      <div #contenedor class="images" cdkDropListGroup>
        <div
          cdkDropList
          (cdkDropListEntered)="onDropListEntered($event)"
          (cdkDropListDropped)="onDropListDropped()"
        ></div>
        <div
          cdkDropList
          (cdkDropListEntered)="onDropListEntered($event)"
          (cdkDropListDropped)="onDropListDropped()"
          *ngFor="let image of images; let i = index"
        >
          <div cdkDrag class="image-item">
            <div *ngIf="image; else empty" class="item">
              <img appImageFallBack [src]="image.url" />
              <button (click)="deletePhoto(image)">
                <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
              </button>
            </div>
            <ng-template #empty>
              <div class="empty-item" (click)="selectPhoto(i)">
                <fa-icon [icon]="['fas', 'add']"></fa-icon>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="container">
      <form [formGroup]="userForm">
        <div class="interest_div">
          <h3 class="fnt-same dark">
            {{ 'EDIT_PROFILE.INTERESTS' | translate }}
          </h3>
          <div class="interests-scrollable">
            <ion-row
              class="checkbox-tags rounded-checkbox-tags"
              formArrayName="interests"
            >
              <ion-item
                lines="none"
                class="checkbox-tag rounded-tag"
                *ngFor="
                  let item of categoryList;
                  let i = index;
                  trackBy: trackByIndex
                "
              >
                <ion-label class="tag-label">
                  <fa-icon [icon]="['fas', 'star']"></fa-icon>
                  {{ 'CATEGORY.' + item.name.toUpperCase() | translate }}
                </ion-label>
                <ion-checkbox [formControlName]="i"></ion-checkbox>
              </ion-item>
            </ion-row>
          </div>
        </div>
        <h3 class="fnt-same dark">{{ 'EDIT_PROFILE.NAME' | translate }}</h3>
        <div class="profile_your">
          <input
            type="text"
            [placeholder]="'EDIT_PROFILE.NAME_PLACEHOLDER' | translate"
            formControlName="name"
          />
        </div>
        <h3 class="fnt-same dark">{{ 'EDIT_PROFILE.BIO' | translate }}</h3>
        <div class="profile_your">
          <textarea
            rows="3"
            [placeholder]="'EDIT_PROFILE.BIO_PLACEHOLDER' | translate"
            formControlName="bio"
          ></textarea>
        </div>
      </form>
    </div>
  </main>
</ion-content>
