<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <h2 class="auth-title">
    Sign In
    <br />
  </h2>
  <div class="social-auth-options">
    <ion-button
      class="social-auth-btn facebook-auth-btn"
      expand="block"
      color="facebook"
      (click)="doFacebookLogin()"
      >Log In with Facebook</ion-button
    >
    <ion-button
      class="social-auth-btn google-auth-btn"
      expand="block"
      color="google"
      (click)="doGoogleLogin()"
      >Log In with Google</ion-button
    >
    <ion-button
      class="social-auth-btn apple-auth-btn"
      expand="block"
      color="dark"
      (click)="doAppleLogin()"
      >Log In with Apple</ion-button
    >
  </div>
</ion-content>
