<app-header></app-header>

<ion-content class="event-create-content">
  <main class="main-area create-event-area">
    <div class="container">
      <div class="head_arw">
        <a class="arw_left" href="#">
          <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
        </a>
        <h3 class="dark">Create Event</h3>
        <a class="gray tp_link tp_link_1 tp_active">Save</a>
        <a class="gray tp_link tp_link_2">Publish</a>
        <a class="gray tp_link tp_link_3">
          <fa-icon [icon]="['fas', 'ellipsis']"></fa-icon>
        </a>
      </div>
      <form>
        <label class="picture" for="picture__input" tabIndex="0">
          <i class="fa-solid fa-image"></i><br />
          <fa-icon [icon]="['fas', 'image']"></fa-icon>
          <p>Add article cover image</p>
        </label>

        <input type="file" name="picture__input" id="picture__input" />

        <div class="airticle_content">
          <label class="d-block" for="title"
            ><span class="dark">Title</span></label
          >
          <input
            class="dark_dd"
            id="title"
            type="text"
            name="#"
            placeholder="Article Title"
          />
        </div>

        <div class="airticle_content">
          <label class="d-block" for="title">
            <span class="dark">Article</span>
          </label>
          <ion-textarea class="dark_dd"> </ion-textarea>
        </div>

        <div class="airticle_content">
          <label class="d-block" for="topics"
            ><span class="dark">Select Topics</span></label
          >
          <select id="topics" class="dark_dd">
            <option class="dark_dd">Select Topics</option>
            <option class="dark_dd">Select Topics</option>
            <option class="dark_dd">Select Topics</option>
          </select>
        </div>
        <div class="airticle_content">
          <label class="d-block" for="title2"
            ><span class="dark">Set Publication Time</span></label
          >
          <input
            class="dark_dd"
            id="title2"
            type="time"
            name="#"
            placeholder="Article Title"
            value="11:04 am"
          />
        </div>
        <div class="airticle_content">
          <label class="d-block" for="topics"
            ><span class="dark">Allow comments from Community</span></label
          >
          <select id="topics" class="dark_dd">
            <option class="dark_dd">Yes</option>
            <option class="dark_dd">No</option>
          </select>
        </div>
      </form>
    </div>
  </main>
</ion-content>
