.dr-watson_box {
  padding: 12px;
  box-shadow: 1px 1px 12px var(--ion-box-shadow);
  background-color: var(--ion-card-background-color);
  border-radius: 10px;
  margin: 30px 0 20px;
}

.dr-watson_box h3 {
  font-weight: 600;
  margin-top: 1rem;
  margin-left: 1rem;
}

.dr-watson_box p {
  margin-left: 1rem;
}

.loading-row {
  height: fit-content;
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 1rem;
  border-radius: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--ion-card-background-color);
  box-shadow: 1px 1px 40px var(--ion-box-shadow);

  .collum-1 {
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
  }

  .collum-2 {
    margin-top: 0.5rem;
  }
}

.collum-1 {
  width: 30%;
}

swiper ::ng-deep .swiper-slide img {
  width: 100%;
  height: 20rem;
  border-radius: 15px;
}

.collum-2 {
  width: 70%;
  padding: 0 10px;
}

.collum-2 h3,
.about_content h3,
.reviews-area h3 {
  font-size: 20px;
  font-weight: 700;
}

.collum-2 hr,
.drake_div hr,
.rating-area hr {
  opacity: 0.2 !important;
  background: #eeeeef !important;
  height: 1px;
  color: #eeeeef !important;
  margin: 10px 0 5px;
}

.collum-2 p {
  font-size: 13px;
  line-height: 27px;
}

.collum h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 8px 0 0;
}

.collum p {
  font-size: 13px;
}

.about_content {
  padding: 20px 0 0;
}

.about_content h3 {
  margin: 0 0 5px;
}

.about_content p {
  color: var(--ion-text-color);
  font-size: 15px;
  padding: 0 1rem;
  margin: 0 0 12px;
}

.reviews_content p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  height: 3.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.about_content p.bio {
  min-height: 5rem;
  padding: 0.3rem;
}

.reviews-area {
  padding: 0 0 100px;
}

.reviews-area h3 {
  position: relative;
  margin: 20px 0 0;
}

.reviews-area h3 a {
  position: absolute;
  right: 0;
  top: 0;
}

.reviews_content .row {
  margin: 17px 0 13px;
}

.img_text {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  vertical-align: middle;
  margin: 1rem 0;
}

.img_text h4 {
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.aside {
  text-align: end;
  display: flex;
  align-items: center;
}

.star {
  display: inline-block;
  border: 2px solid var(--ion-color-primary);
  border-radius: 19px;
  padding: 0.2rem 1rem;
}

.star fa-icon {
  font-size: 12px;
  vertical-align: middle;
}

.star span {
  font-size: 14px;
  margin: 0 0 0 5px;
}

.react_div span {
  font-size: 13px;
}

.bool_apt {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 5% 20px;
  background: #fff;
}

.bool_apt a {
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 24px;
  padding: 12px;
  background: var(--ion-color-primary);
  font-size: 14px;
  font-weight: 600;
}

.interest_div {
  display: flex;
  flex-wrap: wrap;
  min-height: 3rem;
}

.item.btn_item {
  width: fit-content;
  margin-right: 0.5rem;
}

.btn_item button {
  display: block;
  width: fit-content;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  border: 1px solid #b1b0b1;
  font-size: 12px;
  font-weight: 550;
  color: #b1b0b1;
}

.info-row {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 5%;
}

.info-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--ion-card-footer-background-color);
  box-shadow: 1px 1px 12px var(--ion-box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  fa-icon {
    color: #fff;
    font-size: 30px;
  }
}

.profile-pic img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
