<!-- <app-header></app-header> -->
<ion-content class="edit-profile-content">
  <main class="edit-profile main-area">
    <ng-container>
      <br />
      <div class="container">
        <div class="birth-row">
          <h3 class="dark">Your b-day ?</h3>
          <br>
          <ion-input type="date" [(ngModel)]="birth" [placeholder]="'MM d, yyyy'"/>
          <p>Your profile shows your age , not your birth date.</p>
        </div>
        <div class="button-row">
          <button class="white" type="submit" [disabled]="!birth" [routerLink]="['../interests']" (click)="selectBirth()">Next</button>
        </div>
      </div>
    </ng-container>
  </main>
</ion-content>
