<app-header></app-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="reload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <main class="fix notification-area main-area p-0">
    <div class="container">
      <div class="joiner_list">
        <ng-container *ngIf="joiners$ | async as joiners">
          <div *ngFor="let joiner of joiners">
            <ion-item-sliding class="joiner_info" #slidingItem>
              <ion-item>
                <div class="joiner_img">
                  <img [src]="joiner.profilePictureUrl || 'assets/images/men.png'" alt="image" />
                </div>
                <div class="joiner_content">
                  <div class="content-row">
                    <h3 class="dark">{{ joiner.name }}</h3>
                    <div class="status-tag green" [ngClass]="{
                        orange: joiner.status === eventStatus.left,
                        green: joiner.status === eventStatus.accepted,
                        red:
                          joiner.status === eventStatus.declined ||
                          joiner.status === eventStatus.kicked
                      }">
                      {{
                      'HISTORY.TAG.' + joiner.status.toUpperCase() | translate
                      }}
                    </div>
                  </div>
                  <p class="dark_d td_p">
                    {{ joiner.registeredAt | date : 'MMMM d, y | h:m a' }}
                  </p>
                  <hr />
                  <div class="button_area">
                    <ion-button (click)="accept(joiner.id)"
                      [disabled]="joiner.status !== eventStatus.applied">{{'JOINER_LIST.ACCEPT' |
                      translate}}</ion-button>
                    <ion-button (click)="decline(joiner.id)"
                      [disabled]="joiner.status !== eventStatus.applied">{{'JOINER_LIST.DECLINE' |
                      translate}}</ion-button>
                  </div>
                </div>
              </ion-item>
              <ion-item-options>
                <ion-item-option *ngIf="joiner.status === eventStatus.accepted" color="danger"
                  (click)="kick(slidingItem, joiner.id)">{{ 'JOINER_LIST.KICK' | translate}}</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </div>
          <div *ngIf="joiners.length === 0" class="no-more-content">
            {{ 'JOINER_LIST.NO_JOINER' | translate}}
          </div>
        </ng-container>
      </div>
    </div>
  </main>
</ion-content>
