.cancel {
  font-size: 14px;
  border: 2px solid var(--ion-color-primary);
  padding: 5px 10px;
  border-radius: 18px;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.joiner_list {
  margin-top: 1rem;

  .joiner_info {
    padding: 0.5rem 1rem;
    background: var(--ion-card-background);
    border-radius: 20px;
    box-shadow: 1px 1px 40px var(--ion-box-shadow);
    margin: 0 0 20px;

    display: flex;

    .joiner_img {
      width: 25%;
      margin-right: 5%;

      img {
        width: 4rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .joiner_content {
      width: 75%;
      transform: translateY(15%);

      h3 {
        font-size: 20px;
      }

      p {
        font-size: 13px;
      }
    }
  }
}

.locked-background {
  height: 89vh;
  background-color: var(--ion-background-color);
  // opacity: 50%;

  display: flex;
  align-items: center;

  .icon-container {
    width: 100vw;
    line-height: 40px;
    text-align: center;

    fa-icon {
      font-size: 25vw;
      color: var(--ion-text-color);
      opacity: 50%;
    }

    p {
      font-size: 23px;
      color: var(--ion-color-primary);
      font-weight: 800;
    }
  }
}

hr {
  background: #eeeeee;
  height: 1px;
  color: #eeeeee;
  margin: 3px 0 7px 0;
}

ion-modal {
  --height: 10rem;
}

.content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    margin-right: 10px;
  }
}

.status-tag {
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  text-align: center;
  text-transform: capitalize;
  &.green {
    background-color: #41bf65;
    color: var(--ion-tag-text-color);
  }
}
