<app-header></app-header>
<ion-content class="reviews-content">
  <main class="user-detail-area main-area">
    <div class="rating-slider">
      <swiper [slidesPerView]="4.5" [spaceBetween]="20">
        <ng-template swiperSlide>
          <div class="item btn_item">
            <button class="primary" [ngClass]="{ active_btn: true }">
              <fa-icon [icon]="['fas', 'star']"></fa-icon>All
            </button>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="item btn_item">
            <button class="primary">
              <fa-icon [icon]="['fas', 'star']"></fa-icon>5
            </button>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="item btn_item">
            <button class="primary">
              <fa-icon [icon]="['fas', 'star']"></fa-icon>4
            </button>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="item btn_item">
            <button class="primary">
              <fa-icon [icon]="['fas', 'star']"></fa-icon>3
            </button>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="item btn_item">
            <button class="primary">
              <fa-icon [icon]="['fas', 'star']"></fa-icon>2
            </button>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="item btn_item">
            <button class="primary">
              <fa-icon [icon]="['fas', 'star']"></fa-icon>1
            </button>
          </div>
        </ng-template>
      </swiper>
    </div>
    <div class="container">
      <div class="reviews-area">
        <div class="reviews_content">
          <div class="row">
            <div class="col-6">
              <div class="img_text">
                <img src="assets/images/min_profile2.png" alt="image" />
                <h4 class="dark">Charolette Hanlin</h4>
              </div>
            </div>
            <div class="col-6">
              <div class="aside">
                <a href="#" class="star">
                  <fa-icon [icon]="['fas', 'star']" class="primary"></fa-icon>
                  <span class="primary">5</span>
                </a>
                <a href="#">
                  <img src="assets/images/sm_image.png" alt="image" />
                </a>
              </div>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut
          </p>
          <div class="react_div">
            <button class="dark">
              <fa-icon [icon]="['far', 'heart']" class="primary"></fa-icon> 938
            </button>
            <span class="dark_dd">6 days ago</span>
          </div>
        </div>
        <div class="reviews_content">
          <div class="row">
            <div class="col-6">
              <div class="img_text">
                <img src="assets/images/min_profile2.png" alt="image" />
                <h4 class="dark">Charolette Hanlin</h4>
              </div>
            </div>
            <div class="col-6">
              <div class="aside">
                <a href="#" class="star">
                  <fa-icon [icon]="['fas', 'star']" class="primary"></fa-icon>
                  <span class="primary">5</span>
                </a>
                <a href="#">
                  <img src="assets/images/sm_image.png" alt="image" />
                </a>
              </div>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut
          </p>
          <div class="react_div">
            <button class="dark">
              <fa-icon [icon]="['far', 'heart']" class="primary"></fa-icon> 938
            </button>
            <span class="dark_dd">6 days ago</span>
          </div>
        </div>
        <div class="reviews_content">
          <div class="row">
            <div class="col-6">
              <div class="img_text">
                <img src="assets/images/min_profile2.png" alt="image" />
                <h4 class="dark">Charolette Hanlin</h4>
              </div>
            </div>
            <div class="col-6">
              <div class="aside">
                <a href="#" class="star">
                  <fa-icon [icon]="['fas', 'star']" class="primary"></fa-icon>
                  <span class="primary">5</span>
                </a>
                <a href="#">
                  <img src="assets/images/sm_image.png" alt="image" />
                </a>
              </div>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut
          </p>
          <div class="react_div">
            <button class="dark">
              <fa-icon [icon]="['far', 'heart']" class="primary"></fa-icon> 938
            </button>
            <span class="dark_dd">6 days ago</span>
          </div>
        </div>
        <div class="reviews_content">
          <div class="row">
            <div class="col-6">
              <div class="img_text">
                <img src="assets/images/min_profile2.png" alt="image" />
                <h4 class="dark">Charolette Hanlin</h4>
              </div>
            </div>
            <div class="col-6">
              <div class="aside">
                <a href="#" class="star">
                  <fa-icon [icon]="['fas', 'star']" class="primary"></fa-icon>
                  <span class="primary">5</span>
                </a>
                <a href="#">
                  <img src="assets/images/sm_image.png" alt="image" />
                </a>
              </div>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut
          </p>
          <div class="react_div">
            <button class="dark">
              <fa-icon [icon]="['far', 'heart']" class="primary"></fa-icon> 938
            </button>
            <span class="dark_dd">6 days ago</span>
          </div>
        </div>
        <div class="reviews_content">
          <div class="row">
            <div class="col-6">
              <div class="img_text">
                <img src="assets/images/min_profile2.png" alt="image" />
                <h4 class="dark">Charolette Hanlin</h4>
              </div>
            </div>
            <div class="col-6">
              <div class="aside">
                <a href="#" class="star">
                  <fa-icon [icon]="['fas', 'star']" class="primary"></fa-icon>
                  <span class="primary">5</span>
                </a>
                <a href="#">
                  <img src="assets/images/sm_image.png" alt="image" />
                </a>
              </div>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut
          </p>
          <div class="react_div">
            <button class="dark">
              <fa-icon [icon]="['far', 'heart']" class="primary"></fa-icon> 938
            </button>
            <span class="dark_dd">6 days ago</span>
          </div>
        </div>
      </div>
    </div>

    <div class="bool_apt">
      <a class="white" href="#">Book Appointment</a>
    </div>
  </main>
</ion-content>
