<app-header></app-header>
<ion-content>
  <main class="fix notification-area main-area p-0">
    <div class="container">
      <div class="joiner_list">
        <div class="joiner_info" (click)="writeReview()">
          <div class="joiner_img">
            <img src="assets/images/profile1.jpg" alt="image" />
          </div>
          <div class="joiner_content">
            <h3 class="dark">Dr. Drake Boeson</h3>
            <fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>
          </div>
        </div>

        <div class="joiner_info">
          <div class="joiner_img">
            <img src="assets/images/profile1.jpg" alt="image" />
          </div>
          <div class="joiner_content">
            <h3 class="dark">Dr. Drake Boeson</h3>
            <fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>
          </div>
        </div>

        <div class="joiner_info">
          <div class="joiner_img">
            <img src="assets/images/profile1.jpg" alt="image" />
          </div>
          <div class="joiner_content">
            <h3 class="dark">Dr. Drake Boeson</h3>
            <fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </main>
</ion-content>
