.cancel {
  font-size: 14px;
  border: 2px solid #246bfd;
  padding: 5px 10px;
  border-radius: 18px;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.joiner_list {
  margin-top: 1rem;

  .joiner_info {
    padding: 0.75rem 1rem;
    background: #fff;
    border-radius: 20px;
    box-shadow: 1px 1px 40px #ddd;
    margin: 0 0 20px;

    display: flex;

    .joiner_img {
      width: 25%;
      margin-right: 5%;

      img {
        width: 4rem;
        border-radius: 15px;
        object-fit: cover;
      }
    }

    .joiner_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 75%;

      .joiner-info {
        width: 75%;

        p {
          font-size: 13px;
        }
      }

      h3 {
        font-size: 20px;
      }

      fa-icon {
        width: 25%;
        text-align: center;
        font-size: 20px;
      }
    }
  }
}

hr {
  background: #eeeeee;
  height: 1px;
  color: #eeeeee;
  margin: 3px 0 7px 0;
}

ion-modal {
  --height: 10rem;
}
