<app-header></app-header>
<ion-content>
  <main class="fix notification-area main-area p-0">
    <div class="container">
      <div class="joiner_list">
        <ng-container *ngIf="participants$ | async as participants">
          <div
            *ngFor="let participant of participants"
            class="joiner_info"
            (click)="writeReview(participant)"
          >
            <div class="joiner_img">
              <img
                [src]="
                  participant.profilePictureUrl || 'assets/images/profile1.jpg'
                "
                alt="image"
              />
            </div>
            <div class="joiner_content">
              <h3 class="dark">{{ participant.name }}</h3>
              <fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>
            </div>
          </div>
          <div *ngIf="participants.length === 0" class="no-more-content">
            No more content !
          </div>
        </ng-container>
      </div>
    </div>
  </main>
</ion-content>
