<main class="rating main-area">
  <div class="container">
    <div class="head_arw">
      <h3 class="dark">{{ 'REVIEW.TITLE' | translate }}</h3>
    </div>
    <form [formGroup]="form">
      <div class="rating-area">
        <div class="text-center">
          <img
            appImageFallBack
            [src]="userDetail.profilePictureUrl || 'assets/images/profile.png'"
            alt="image"
          />
          <h3 class="dark">
            {{ ('REVIEW.DESCRIPTION' | translate) + userDetail.name + '?' }}
          </h3>
          <app-rating-input formControlName="rating"></app-rating-input>
          <hr />
        </div>
        <h3 class="dark">{{ 'REVIEW.SUB_TITLE' | translate }}</h3>
        <ion-textarea
          class="lm_text"
          [placeholder]="'REVIEW.PLACEHOLDER' | translate"
          formControlName="comment"
        ></ion-textarea>
        <div class="button_row">
          <ion-button class="primary cancel_btn" (click)="cancel()">{{
            'REVIEW.CANCEL' | translate
          }}</ion-button>
          <ion-button class="white submit_btn" (click)="submit()">{{
            'REVIEW.SUBMIT' | translate
          }}</ion-button>
        </div>
      </div>
    </form>
  </div>
</main>
