<app-header *ngIf="!isModalMode"></app-header>

<ion-content>
  <main class="subscriptions-area main-area">
    <div class="container">
      <div class="container-title"></div>
      <div class="bundle-container">
        <swiper
          [slidesPerView]="1"
          [pagination]="true"
          (activeIndexChange)="onActiveIndexChange($event)"
        >
          <ng-container *ngFor="let product of productList">
            <ng-template swiperSlide>
              <div class="bundle-card" (click)="purchase(product.identifier)">
                <div class="bundle-header">
                  <div class="bundle-header-title">
                    <h3>{{ product.identifier | bundleWording : 'TITLE' }}</h3>
                    <small>{{
                      product.identifier | bundleWording : 'DESCRIPTION'
                    }}</small>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </swiper>
      </div>

      <ng-container *ngIf="productList.length !== 0">
        <div class="description-container">
          <div class="description-card">
            <div class="description-title">Create Event</div>
            <div class="description">
              <fa-icon [icon]="['fas', 'check']"></fa-icon>
              <p>
                <!-- {{ 'IN_APP_PURCHASE.HEADER.EVENT_CREATION_1' | translate }}: -->
                {{
                  productList[currentIndex].identifier
                    | bundleWording : 'EVENT_CREATION' : 1
                }}
              </p>
            </div>
            <div class="description">
              <fa-icon [icon]="['fas', 'check']"></fa-icon>
              <p>
                <!-- {{ 'IN_APP_PURCHASE.HEADER.EVENT_CREATION_2' | translate }}: -->
                {{
                  productList[currentIndex].identifier
                    | bundleWording : 'EVENT_CREATION' : 2
                }}
              </p>
            </div>
          </div>
        </div>

        <div class="description-container">
          <div class="description-card">
            <div class="description-title">Join Event</div>
            <div class="description">
              <fa-icon [icon]="['fas', 'check']"></fa-icon>
              <p>
                {{
                  productList[currentIndex].identifier
                    | bundleWording : 'EVENT_JOIN' : 1
                }}
              </p>
            </div>
            <div class="description">
              <fa-icon [icon]="['fas', 'check']"></fa-icon>
              <p>
                {{
                  productList[currentIndex].identifier
                    | bundleWording : 'EVENT_JOIN' : 2
                }}
              </p>
            </div>
          </div>
        </div>

        <div class="description-container">
          <div class="description-card">
            <div class="description-title">ADs and Chats</div>
            <div class="description">
              <fa-icon [icon]="['fas', 'check']"></fa-icon>
              <p>
                {{
                  productList[currentIndex].identifier
                    | bundleWording : 'AD_AND_CHAT' : 1
                }}
              </p>
            </div>
            <div class="description">
              <fa-icon [icon]="['fas', 'check']"></fa-icon>
              <p>
                {{
                  productList[currentIndex].identifier
                    | bundleWording : 'AD_AND_CHAT' : 2
                }}
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </main>
</ion-content>

<ion-footer *ngIf="productList.length !== 0">
  <ion-toolbar>
    <ion-button
      class="purchase-btn"
      slot="primary"
      (click)="purchase(productList[currentIndex].identifier)"
    >
      <span>
        {{ productList[currentIndex].priceString + ' / Month' }}
      </span>
    </ion-button>
  </ion-toolbar>
</ion-footer>
