.main_hume {
  padding: 38px 0;
}

.hume_content h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}

.hume_content p {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  margin: 12px 0 0;
}

.hume_box {
  background: var(--ion-input-background-color);
  border-radius: 48px;
  border: 3px solid var(--ion-color-primary);
  padding: 24px;
  margin: 24px 0 0;
}

.hume_box h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  margin: 15px 0 0;
}

.hume_box h2 span {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  margin: 0 0 0 1px;
}

.hume_box hr {
  opacity: 0.2 !important;
  background: #eeeeee;
  height: 1px;
  color: #eeeeee;
  margin: 16px 0;
}

.hume_box ul li span {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin: 0 0 0 12px;
}
