<app-header></app-header>

<ion-content>
  <main class="subscriptions-area main-area">
    <div class="container">
      <div class="main_hume">
        <div class="hume_content text-center">
          <h2 class="primary_2">Hume VIP</h2>
          <p class="dark_d">
            Enjoy unlimited swiping & like,<br />
            without restrictions, & without ads
          </p>
        </div>
        <div class="hume_box">
          <div class="text-center">
            <img src="assets/images/image.png" alt="image" />
            <h2 class="dark">$9.99 <span class="dark_d">/month</span></h2>
          </div>
          <hr />
          <ul>
            <li>
              <img src="assets/images/right.png" alt="image" />
              <span class="dark_d">Unlimited Swiping & Likes</span>
            </li>
            <li>
              <img src="assets/images/right.png" alt="image" />
              <span class="dark_d">5 Super Likes a Day</span>
            </li>
            <li>
              <img src="assets/images/right.png" alt="image" />
              <span class="dark_d">Unlimited Rewinds</span>
            </li>
            <li>
              <img src="assets/images/right.png" alt="image" />
              <span class="dark_d">Remove Restrictions & Ads</span>
            </li>
          </ul>
        </div>
        <div class="hume_box">
          <div class="text-center">
            <img src="assets/images/image.png" alt="image" />
            <h2 class="dark">$49.99 <span class="dark_d">/6 months</span></h2>
          </div>
          <hr />
          <ul>
            <li>
              <img src="assets/images/right.png" alt="image" />
              <span class="dark_d">Unlimited Swiping & Likes</span>
            </li>
            <li>
              <img src="assets/images/right.png" alt="image" />
              <span class="dark_d">5 Super Likes a Day</span>
            </li>
            <li>
              <img src="assets/images/right.png" alt="image" />
              <span class="dark_d">Unlimited Rewinds</span>
            </li>
            <li>
              <img src="assets/images/right.png" alt="image" />
              <span class="dark_d">Remove Restrictions & Ads</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</ion-content>
