<app-header *ngIf="!isModalMode"></app-header>

<ion-content>
  <main class="subscriptions-area main-area">
    <div class="container">
      <div class="container-title"></div>
      <div class="bundle-container">
        <swiper
          [slidesPerView]="1"
          [pagination]="true"
          (activeIndexChange)="onActiveIndexChange($event)"
        >
          <ng-container *ngFor="let product of productList">
            <ng-template swiperSlide>
              <div class="bundle-card" (click)="purchase(product.identifier)">
                <div class="bundle-header">
                  <div class="bundle-header-title">
                    <h3>{{ product.identifier }}</h3>
                    <small>{{ product.description }}</small>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </swiper>
      </div>

      <ng-container *ngIf="productList.length !== 0">
        <div class="description-container">
          <div class="description-card">
            <div class="description-title">Ad</div>
            <div class="description">
              <fa-icon [icon]="['fas', 'check']"></fa-icon>
              <p>{{ productList[currentIndex].description }}</p>
            </div>
            <div class="description">
              <fa-icon [icon]="['fas', 'check']"></fa-icon>
              <p>Test Description 2</p>
            </div>
            <div class="description">
              <fa-icon [icon]="['fas', 'check']"></fa-icon>
              <p>Test Description 3</p>
            </div>
          </div>
        </div>

        <div class="description-container">
          <div class="description-card">
            <div class="description-title">Create Event</div>
            <div class="description">
              <fa-icon [icon]="['fas', 'check']"></fa-icon>
              <p>Test Description 1</p>
            </div>
            <div class="description">
              <fa-icon [icon]="['fas', 'check']"></fa-icon>
              <p>Test Description 2</p>
            </div>
            <div class="description">
              <fa-icon [icon]="['fas', 'check']"></fa-icon>
              <p>Test Description 3</p>
            </div>
          </div>
        </div>

        <div class="description-container">
          <div class="description-card">
            <div class="description-title">Join Event</div>
            <div class="description">
              <fa-icon [icon]="['fas', 'check']"></fa-icon>
              <p>Test Description 1</p>
            </div>
            <div class="description">
              <fa-icon [icon]="['fas', 'check']"></fa-icon>
              <p>Test Description 2</p>
            </div>
            <div class="description">
              <fa-icon [icon]="['fas', 'check']"></fa-icon>
              <p>Test Description 3</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </main>
</ion-content>

<ion-footer *ngIf="productList.length !== 0">
  <ion-toolbar>
    <ion-button class="purchase-btn" slot="primary" (click)="purchase('test')">
      <span>
        {{ productList[currentIndex].priceString + ' / Month' }}
      </span>
    </ion-button>
  </ion-toolbar>
</ion-footer>
