.story {
  margin: 0 0 0 0px;
}

.birth-row {
  padding: 15px 0 30px;
}

.dark {
  font-weight: 700;
  font-size: 30px;
}

.gender-row {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

::placeholder {
  opacity: 1;
}

.button-row {
  width: calc(100% - 50px);
  text-align: center;
  position: fixed;
  bottom: 2rem;
  // left: 50%;
  text-align: center;
}

.button-row [type='submit'] {
  font-size: 20px;
  background: #246bfd;
  // padding: 12px 45px;
  width: 100%;
  padding: 0.6rem 0;
  border-radius: 25px;
  font-weight: 600;
}

.item.btn_item {
  width: 100%;
}

.btn_item button {
  display: block;
  width: 100%;
  padding: 0.7rem 0;
  border-radius: 20px;
  border: 2px solid #246bfd;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

button[disabled] {
  background: rgb(234, 235, 240) !important;
  color: rgb(132, 133, 148)
}

.active_btn {
  background: #246bfd;
  color: #fff !important;
}
