<div class="dropdown">
  <div class="input-container">
    <ion-input
      placeholder="enter location name or address"
      #inputBox
      type="text"
      [disabled]="isDisabled"
      [(ngModel)]="value"
      style="margin-right: 2%"
    ></ion-input>
    <ion-button class="search-btn" fill="outline" (click)="loadPredictions()"
      >Search</ion-button
    >
  </div>
  <div *ngIf="showDropdown" class="dropdown-content">
    <ng-container *ngFor="let item of predictions">
      <a (click)="onMenuClick(item)">
        <p class="main-text">{{ item.structured_formatting.main_text }}</p>
        <p class="address">{{ item.description }}</p>
      </a>
    </ng-container>
  </div>
</div>
