.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99999;
  top: 2.5rem;
}

.dropdown-content p.main-text {
  color: black;
  padding: 12px 16px 0px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p.address {
  font-size: 12px;
  color: rgb(141, 140, 140);
  padding: 0px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {
  background-color: #f1f1f1;
}

ion-input {
  width: 100%;
  border-radius: 11px;
  background: var(--ion-input-background-color);
  padding: 0 1rem !important;
  border: none;
  font-size: 14px;
  margin: 0 0 25px;
}
