// http://ionicframework.com/docs/theming/
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import 'swiper/scss';
@import 'swiper/scss/autoplay';
@import 'swiper/scss/pagination';

// EXTRA GLOBAL STYLES
// Add custom Ionic Colors
@import 'theme/custom-ion-colors.scss';
// Add base app styles
@import 'theme/app-defaults.scss';
// Add base shell styles
@import 'theme/shell-defaults.scss';

body {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  font-family: 'Urbanist', sans-serif;
  /*! font-family: 'Montserrat', sans-serif; */
  /*! font-family: 'Poppins', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
p {
  margin: 0;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

span,
small {
  display: inline-block;
  vertical-align: middle;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  transition: 0.3s all ease-in-out;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

button:focus {
  outline: none;
  box-shadow: none !important;
}

input:focus,
textarea:focus {
  outline: none;
  border: none;
}

::selection {
  background: #0c8cf0;
  color: #ffffff;
}

::-webkit-selection {
  background: #0c8cf0;
  color: #ffffff;
}

::-moz-selection {
  background: #0c8cf0;
  color: #ffffff;
}

/*main styles*/

.container {
  max-width: 100%;
  padding: 0 25px;
}

.row,
.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  width: 50%;
}

.danger {
  color: #f85555;
}

.dark1 {
  color: #424242;
}

.dark {
  color: #212121;
}

.dark_d {
  color: #5c5b5e;
}

.dark_dd {
  color: #b1b0b1;
}

.white {
  color: #ffffff;
}

.primary {
  color: #0c8cf0;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-center {
  justify-content: center;
  padding: 0 0 12px;
  text-align: center;
}

.p-0 {
  padding: 0 !important;
}

.fix .row {
  gap: 12px;
  flex-wrap: nowrap;
  margin: 15px 0 0;
}

.article-area .row {
  flex-wrap: nowrap;
}

.btm-full {
  max-width: 767px;
  margin: 0 auto;
}

.msg_link {
  display: block;
}

.wdt__2 > div.P-text {
  width: 100%;
}
.prof .content a {
  display: block;
}

.custom-container .mat-mdc-dialog-surface.mdc-dialog__surface {
  padding: 40px 30px;
  border-radius: 40px;
}

.radio_div {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 0fr 0.2fr 0fr 0.2fr;
  gap: 0.5em;

  input[type='radio'] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #0c8cf0;
    border-radius: 50%;
    transform: translateY(0.01em);
    display: grid;
    place-content: center;
  }

  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #0c8cf0;
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }
}

.cancel_btn {
  background: #e9f0ff;
}

.submit_btn {
  background: #0c8cf0;
}

.leave_button {
  color: red !important;
}

ion-toolbar {
  --background: #fff;

  h3 {
    font-size: 16px;
    padding: 0 1rem;
    font-weight: 600;
  }

  ion-button {
    width: 40%;
    height: 2.5rem;
    --background: #0c8cf0;
    font-weight: 600;
  }
}

hr {
  background: #eeeeee;
  height: 1px;
  color: #eeeeee;
  margin: 3px 0 7px 0;
}

.no-more-content {
  color: #0c8cf0;
  font-weight: 600;
  text-align: center;
}
