<app-header [defaultHref]="'app/notifications'"></app-header>

<ion-content class="notifications-content">
  <main class="notification-area main-area">
    <div class="container">
      <ng-container *ngIf="notifications$ | async as notifications">
        <div
          class="image_content"
          *ngFor="let item of notifications"
          [routerLink]="['/app/notifications/detail', item.eventId]"
        >
          <div class="poin_ment">
            <div>
              <fa-icon
                [icon]="item.content | notificationTitle | notificationIcon"
              ></fa-icon>
            </div>
            <div class="ment_text">
              <h2 class="dark">
                {{item.content | notificationTitle | translate}}
              </h2>
              <p class="dark_d">{{item.createdAt | relativeDate}}</p>
            </div>
            <!-- <button class="white">New</button> -->
          </div>
          <div class="sample_text">
            <p class="dark_d">{{item.content}}</p>
          </div>
        </div>
        <div
          *ngIf="notifications.length === 0"
          class="no-more-content"
          style="margin-top: 2rem"
        >
          {{ 'NOTIFICATIONS.NO_MORE_CONTENT' | translate }}
        </div>
      </ng-container>
    </div>
  </main>
</ion-content>
