.event-content {
  padding: 1rem 0 1rem 0;
}

h3 {
  margin-left: 1rem;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}

.slide_item img {
  width: 100%;
  height: 145px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.slide_item p {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  margin: 15px 0 0;
  width: 100%;
  height: 3rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.event-content .owl-stage {
  padding-left: 25px !important;
  padding-bottom: 20px;
}

.item.btn_item {
  width: 100%;
}

.btn_item button {
  display: block;
  width: 100%;
  padding: 0.55rem 0;
  border-radius: 20px;
  border: 2px solid #246bfd;
  font-size: 16px;
  font-weight: 600;
}

.active_btn {
  background: #246bfd;
  color: #fff !important;
}

.cause_content {
  padding: 0 25px;
  margin: 0 0 15px;
}

.cause_image {
  width: 35%;
  padding: 0 0 0 1rem;
}

.cause_image img {
  border-radius: 17px;
  width: 100%;
  height: 7.5rem;
  object-fit: cover;
}

.inr_cause_content {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inr_cause_content small {
  font-size: 11px;
  font-weight: 600;
  margin: 0 0 2px;
}

.inr_cause_content p {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  height: 4rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.inr_cause_content a {
  font-size: 11px;
  padding: 6px 9px;
  border-radius: 8px;
  background: #eef4ff;
  font-weight: 600;
  margin: 8px 0.2rem 0 0;
}

.event-content swiper {
  margin-bottom: 1rem;
}

.event-content ::ng-deep .swiper-slide img {
  height: 10rem;
  object-fit: cover;
}

.event-content .item {
  position: relative;
  border-radius: 25px;
  padding: 1rem;
}

.event-list {
  margin-top: 1rem;
}
