.image_slider {
  padding: 1rem 0 1rem 0;
}

.pson_div {
  padding: 0px 25px 20px;
}

.pson_div h3 {
  font-size: 18px;
  font-weight: 700;
  position: relative;
}

.pson_div h3 a {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 16px;
  font-weight: 700;
}

.slide_item img {
  width: 100%;
  height: 145px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.slide_item p {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  margin: 15px 0 0;
  width: 100%;
  height: 3rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.image_slider .owl-stage {
  padding-left: 25px !important;
  padding-bottom: 20px;
}

.item.btn_item {
  width: 100%;
}

.btn_item button {
  display: block;
  width: 100%;
  padding: 0.55rem 0;
  border-radius: 20px;
  border: 2px solid #246bfd;
  font-size: 16px;
  font-weight: 600;
}

.image_slider
  ::ng-deep
  .swiper-wrapper
  .swiper-slide:first-child.swiper-slide-active {
  margin-left: 1.5rem;
}

.active_btn {
  background: #246bfd;
  color: #fff !important;
}

.cause_content {
  padding: 0 25px;
  margin: 0 0 15px;
}

.cause_image {
  width: 35%;
  padding: 0 0 0 1rem;
}

.cause_image img {
  border-radius: 17px;
  width: 100%;
  height: 7.5rem;
  object-fit: cover;
}

.inr_cause_content {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inr_cause_content small {
  font-size: 11px;
  font-weight: 600;
  margin: 0 0 2px;
}

.inr_cause_content p {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  height: 4rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.inr_cause_content a {
  font-size: 11px;
  padding: 6px 9px;
  border-radius: 8px;
  background: #eef4ff;
  font-weight: 600;
  margin: 8px 0.2rem 0 0;
}

.image_slider ::ng-deep .swiper-wrapper {
  padding-bottom: 20px;
}

.image_slider
  ::ng-deep
  .swiper-wrapper
  .swiper-slide:first-child.swiper-slide-active {
  margin-left: 1.5rem;
}

.image_slider ::ng-deep .swiper-slide img {
  height: 150px;
  border-radius: 25px;
  object-fit: cover;
}

.image_slider .item {
  position: relative;
}

.slider-area .item button {
  position: absolute;
  right: 9px;
  bottom: 8px;
  color: #fff;
  font-size: 14px;
}

.filter_section {
  display: flex;

  ion-searchbar {
    width: 90%;
  }

  button {
    padding: 0.5rem 1rem 0.5rem 0;
    width: 10%;
    --background: transparent;
    font-size: 20px;
  }
}
