@import 'theme/mixins/inputs/checkbox-tag';

.head_arw {
  position: relative;
  text-align: right;
  .arw_left {
    width: 7%;
    color: #212121;
    font-size: 22px;
    vertical-align: middle;
  }

  h3 {
    width: 32%;
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 0.5rem;
  }

  .tp_link_1 {
    width: 20%;
    margin-right: 0.5rem;
  }

  .tp_link_2 {
    width: 25%;
    margin-right: 0.5rem;
  }
}

.tp_active {
  background: #a4634d;
  color: #fff !important;
}

.tp_link {
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  border: 2px solid #a4634d;
  border-radius: 20px;
  line-height: 1;
  padding: 0.5rem;
}

#picture__input {
  display: none;
}

.event_image {
  width: 100%;
  /*! aspect-ratio: 16/9; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  border: 1px solid #f3f3f3;
  cursor: pointer;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
  border-radius: 20px;
  flex-direction: column;
  margin: 20px 0;
  padding: -4px 0;
}

.picture {
  width: 100%;
  /*! aspect-ratio: 16/9; */
  background: var(--ion-input-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  border: 1px solid #f3f3f3;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
  border-radius: 20px;
  flex-direction: column;
  padding: 124px 0;
  margin: 20px 0;
}

.picture:focus {
  outline: none;
  background: var(--ion-input-background-color);
}

.picture:hover {
  /*! color: #777; */
  /*! background: #ccc; */
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: #777;
  background: #ccc;
  /*! box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}

.picture__img {
  max-width: 100%;
}

.picture__image {
  display: block;
}

.picture fa-icon {
  font-size: 50px;
}

.picture p {
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0 0;
}

.event_content label span,
.h2_art {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 11px;
}

.event_content ion-textarea {
  width: 100%;
  height: 10rem;
  border-radius: 11px;
  background: var(--ion-input-background-color);
  padding: 0 1rem;
  border: none;
  font-size: 14px;
  margin: 0 0 25px;

  ::ng-deep textarea {
    height: 10rem;
  }
}

.event_content ion-input,
.event_content ion-select {
  width: 100%;
  border-radius: 11px;
  background: var(--ion-input-background-color);
  padding: 0 1rem !important;
  border: none;
  font-size: 14px;
  margin: 0 0 25px;
}

.event_content select {
  background-image: url('/../../../assets/images/down.png');
  background-repeat: no-repeat;
  background-position: 98% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: initial !important;
}

.event_content:has(.submit-button) {
  text-align: center;
}

.event_content .submit-button {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  color: #ffffff;
  padding: 0.5rem 0;
  border: var(--ion-color-primary) solid 3px;
  border-radius: 25px;
  background-color: var(--ion-color-primary);
  margin-bottom: 2rem;
}

.note-editor {
  margin-bottom: 30px;
}
.note-editable {
  height: 200px;
}

.write_spn {
  border-radius: 11px;
  /*! padding: 16px 18px; */
  font-size: 14px;
}

.checkbox-tags {
  padding: calc(var(--page-margin) / 2)
    calc(var(--page-margin) - var(--page-tags-gutter));

  @include checkbox-tag();

  .checkbox-tag {
    padding: 0px var(--page-tags-gutter);
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
  }

  // Add a deeper selector to override default colors
  &.square-checkbox-tags {
    background-color: var(--page-background);

    .checkbox-tag {
      --checkbox-tag-color: var(--ion-color-medium);
      --checkbox-tag-background: var(--ion-color-lightest);
      --checkbox-tag-active-color: #fff;
      --checkbox-tag-active-background: var(--ion-color-primary);
    }
  }

  // Add a deeper selector to override default colors
  &.rounded-checkbox-tags {
    .checkbox-tag {
      --checkbox-tag-color: var(--ion-color-lightest);
      --checkbox-tag-background: var(--ion-color-light-shade);
      --checkbox-tag-active-color: #fff;
      --checkbox-tag-active-background: var(--ion-color-primary);
    }
  }
}

app-location-input {
  width: 100%;
}
